_build/
__pycache__/
.vscode
.git
.pre-commit-config.yaml
.venv
.env
.pixi
.editorconfig
pixi.lock
survey.json
pnpm-lock.json
package.json
node_modules
.ruff_cache
.github
app.css
.copier-answers.yml
