<footer class="bg-base-300 text-primary-content p-5 z-10 mt-20">
    <div class="flex flex-col sm:flex-row flex-wrap gap-8 text-sm font-light">
        <img src="/static/eu.svg" class="h-[50px]" />
        <div>{{ CONFIG['footer']['text'] }}</div>
        <div>Developed by <a href="https://www.nina.no" target="_blank"><img src="https://www.nina.no/Portals/NINA/Bilder/logoweb.png" class="h-[25px]" /></a></div>
    </div>
</footer>
