<!doctype html>
<html data-theme="selina">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/static/logo.svg">
    {% block head %}{% endblock %}
    <link href="/static/app.css" rel="stylesheet">
</head>

<body>
    {% include 'partials/nav.html.jinja' %}
    {% block content %}
    {% endblock content %}
    {% include 'partials/footer.html.jinja' %}
    {% block scripts %}{% endblock %}
</body>
</html>
