# Terms of Reference

<i> This Terms of Reference has been automatically-generated based on a writing guidance developed by SELINA. In this document:</i>

- <i> <b>Commissioner</b> refers to decision-makers or users commissioning an ecosystem service assessment through a call for tender with Terms of Reference;</i>

- <i> <b>Contractor</b> refers to the applicants answering the call for tender and sending proposals to the commissioners </i>





## 1. Frame & Scope
### 1.1 Context and Purpose
{% if fs_purpose_1a and fs_context_policy_1b and fs_context_social_1d %} {# if none of the answers are empty #}

   {{ fs_purpose_1a }} {{ fs_context_policy_1b }}

   {{ fs_context_social_1d }}  

{% elif fs_purpose_1a or fs_context_policy_1b or fs_context_social_1d %} {# if one of the answers is empty #}

   <i><b>*Warning:</b> The answers provided did not give enough information, so this section has only be partially written.</i>

   {{ fs_purpose_1a }} {{ fs_context_policy_1b }}

   {{ fs_context_social_1d }} 
   
{% endif %}

{% if fs_context_decision_1e|lower == 'yes' %} {# if asking for recommandations is yes #}

   Based on the results, the ecosystem service assessment should aim at providing recommendations on <i><b>[text to be completed by the Commissioner]</i></b>.

{% elif fs_context_decision_1e|lower == 'maybe' %} {# if asking for recommandations is maybe #}

   Based on the results, the ecosystem service assessment might aim at providing recommendations on <i><b>[text to be completed by the Commissioner]</i></b>.
   
{% endif %}






### 1.2 Intended impacts and outputs
<i><b>*Warning:</b> The survey doesn't cover this section, we recommend our users to refer to our [PDF templates](/static/pdf-templates.pdf) to complete this section.</i>

#### 1.2.1 Intended users and uses
<i><b>[text to be added by the Commissioner]</i></b>

#### 1.2.2 Intended impacts
<i><b>[text to be added by the Commissioner]</i></b>

#### 1.2.3 Formats of the deliverables
<i><b>[text to be added by the Commissioner]</i></b>






### 1.3 General methodological characteristics

{# 1.3.1 Ecosystem type(s) and service(s) #}
{% if fs_meth_et_31a.et_list and  fs_meth_et_31a.et_class and fs_meth_es_31b.es_list and fs_meth_es_31b.es_class %} {# if none of the answers are empty #}

#### 1.3.1 Ecosystem type(s) and service(s)
The ecosystem service(s) of interest in this assessment are: {{fs_meth_es_31b.es_list}}. {{fs_meth_es_31b.es_class}} should be preferrably used to define them.

The ecosystem type(s) of interest in this assessment are: {{fs_meth_et_31a.et_list}}. {{fs_meth_et_31a.et_class}} should be preferrably used to define them.


{% elif fs_meth_et_31a.et_list and not fs_meth_et_31a.et_class and fs_meth_es_31b.es_list and fs_meth_es_31b.es_class %} {# if ET classification missing #}

#### 1.3.1 Ecosystem type(s) and service(s)
The ecosystem service(s) of interest in this assessment are: {{fs_meth_es_31b.es_list}}. {{fs_meth_es_31b.es_class}} should be preferrably used to define them.

The ecosystem type(s) of interest in this assessment are: {{fs_meth_et_31a.et_list}}. The ecosystem typology to be used is left to the choice of the Contractor. In their proposal, the Contractor will explain the relevance of the chosen classification(s) for the decision-making context and purpose of the assessment.

{% elif fs_meth_et_31a.et_list and fs_meth_et_31a.et_class and fs_meth_es_31b.es_list and not fs_meth_es_31b.es_class %} {# if ES classification missing #}

#### 1.3.1 Ecosystem type(s) and service(s)
The ecosystem service(s) of interest in this assessment are: {{fs_meth_es_31b.es_list}}. The ecosystem service classification to be used is left to the choice of the Contractor. In their proposal, the Contractor will explain the relevance of the chosen classification(s) for the decision-making context and purpose of the assessment.

The ecosystem type(s) of interest in this assessment are: {{fs_meth_et_31a.et_list}}. {{fs_meth_et_31a.et_class}} should be preferrably used to define them.


{% elif fs_meth_et_31a.et_list and not fs_meth_et_31a.et_class and fs_meth_es_31b.es_list and not fs_meth_es_31b.es_class %} {# if both classifications are missing #}

#### 1.3.1 Ecosystem type(s) and service(s)
The ecosystem service(s) of interest in this assessment are: {{fs_meth_es_31b.es_list}}. 

The ecosystem type(s) of interest in this assessment are: {{fs_meth_et_31a.et_list}}. 

The choice of both the ecosystem type and ecosystem service classifications to be used to define the ecosystem type(s) and service(s) of interest is left to the Contractor. In their proposal, the Contractor will explain the relevance of the chosen classifications for the decision-making context and purpose of the assessment.


{% elif not fs_meth_et_31a.et_list and not fs_meth_et_31a.et_class and fs_meth_es_31b.es_list and not fs_meth_es_31b.es_class %} {# if ET missing #}

#### 1.3.1 Ecosystem type(s) and service(s)
The ecosystem service(s) of interest in this assessment are: {{fs_meth_es_31b.es_list}}. 

The choice of the ecosystem types to be included as well as the choice of both the ecosystem type and ecosystem service classifications to be used to define the ecosystem type(s) and service(s) of interest are left to the Contractor. In their proposal, the Contractor will explain their choices in regards to the decision-making context and purpose of the assessment,  as well as limitations in data availability.

{% endif %}







{# 1.3.1 Spatial and temporal characteristics #}

{% if fs_meth_sp_ext_32a.geo_loc and fs_meth_sp_ext_32a.sp_extent and fs_meth_temp_33a.time_period %} {# spatial extent and temporal period first #}
#### 1.3.2 Spatial and temporal characteristics
The ecosystem service assessment is to be conducted in {{fs_meth_sp_ext_32a.geo_loc}}, covering a total spatial area of {{fs_meth_sp_ext_32a.sp_extent}}. The assessment should be conducted for {{ fs_meth_temp_33a.time_period }}.


{% elif fs_meth_sp_ext_32a.geo_loc and not fs_meth_sp_ext_32a.sp_extent and fs_meth_temp_33a.time_period %} {# spatial extent and temporal period first #}
#### 1.3.2 Spatial and temporal characteristics
The ecosystem service assessment is to be conducted in {{fs_meth_sp_ext_32a.geo_loc}}. The assessment should be conducted for {{ fs_meth_temp_33a.time_period }}.



{% elif not fs_meth_sp_ext_32a.geo_loc and fs_meth_sp_ext_32a.sp_extent and fs_meth_temp_33a.time_period %} {# spatial extent and temporal period first #}
#### 1.3.2 Spatial and temporal characteristics
<i><b>*Warning:</b> The answers provided did not mention the the geographical location of the assessment. We advise the Commissioner to complete this information below.</i>

The ecosystem service assessment is to be conducted in [text to be completed by the Commissioner], covering a total spatial area of {{fs_meth_sp_ext_32a.sp_extent}}. The assessment should be conducted for {{ fs_meth_temp_33a.time_period }}.



{% elif fs_meth_sp_ext_32a.geo_loc and fs_meth_sp_ext_32a.sp_extent and not fs_meth_temp_33a.time_period %} {# spatial extent and temporal period first #}
#### 1.3.2 Spatial and temporal characteristics
<i><b>*Warning:</b> The answers provided did not mention the time period of the assessment. We advise the Commissioner to complete this information below.</i>

The ecosystem service assessment is to be conducted in {{fs_meth_sp_ext_32a.geo_loc}}, covering a total spatial area of {{fs_meth_sp_ext_32a.sp_extent}}. The assessment should be conducted for is <i><b>[text to be completed by the Commissioner]</i></b>.



{% elif fs_meth_sp_ext_32a.geo_loc and not fs_meth_sp_ext_32a.sp_extent and not fs_meth_temp_33a.time_period %} {# spatial extent and temporal period first #}
#### 1.3.2 Spatial and temporal characteristics
<i><b>*Warning:</b> The answers provided did not mention the time period of the assessment. We advise the Commissioner to complete this information below.</i>

The ecosystem service assessment is to be conducted in {{fs_meth_sp_ext_32a.geo_loc}}. The assessment should be conducted for <i><b>[text to be completed by the Commissioner]</i></b>.



{% elif not fs_meth_sp_ext_32a.geo_loc and not fs_meth_sp_ext_32a.sp_extent and fs_meth_temp_33a.time_period %} {# spatial extent and temporal period first #}
#### 1.3.2 Spatial and temporal characteristics
<i><b>*Warning:</b> The answers provided did not mention the geographical location of the assessment. We advise the Commissioner to complete this information below.</i>

The ecosystem service assessment is to be conducted in <i><b>[text to be completed by the Commissioner]</i></b>. The assessment should be conducted for {{ fs_meth_temp_33a.time_period }}.



{% elif not fs_meth_sp_ext_32a.geo_loc and fs_meth_sp_ext_32a.sp_extent and not fs_meth_temp_33a.time_period %} {# spatial extent and temporal period first #}
#### 1.3.2 Spatial and temporal characteristics
<i><b>*Warning:</b> The answers provided did not mention the geographical location and the time period of the assessment. We advise the Commissioner to complete this information below.</i>

The ecosystem service assessment is to be conducted in <i><b>[text to be completed by the Commissioner]</i></b>.covering a total spatial area of {{fs_meth_sp_ext_32a.sp_extent}}. The assessment should be conducted for <i><b>[text to be completed by the Commissioner]</i></b>.

{% endif %}


{% if fs_meth_sp_scale_32b == "full_sp" and fs_meth_temp_33a.time_scale %} {# spatial and temporal scales of aggregation second #}
The results should be fully spatially explicit and reported {{fs_meth_temp_33a.time_scale}}.



{% elif (fs_meth_sp_scale_32b == "full_sp") and not fs_meth_temp_33a.time_scale %} {# spatial and temporal scales of aggregation second #}
<i><b>*Warning:</b> The answers provided did not mention the temporal aggregation (<i>e.g.,</i> monthly, quaterly, yearly...) at which the results should be reported. We advise the Commissioner to complete this information below.</i>

The results should be fully spatially explicit and reported <i><b>[text to be completed by the Commissioner]</i></b>.



{% elif not fs_meth_sp_scale_32b and fs_fs_meth_temp_33atemp_33a.time_scale %} {# spatial and temporal scales of aggregation second #}
<i><b>*Warning:</b> The answers provided did not mention the spatial aggregation (<i>i.e.,</i> fully spatially explicit, aggregation at ecological or administrative scales.) at which the results should be reported. We advise the Commissioner to complete this information below.</i>

The results should be <i><b>[text to be completed by the Commissioner]</i></b> and reported {{fs_meth_temp_33a.time_scale}}.



{% elif (fs_meth_sp_scale_32b == "ecolo") and fs_meth_sp_agg_ecolo and fs_meth_temp_33a.time_scale %} {# spatial and temporal scales of aggregation second #}
The results should be reported {{fs_meth_temp_33a.time_scale}}, and aggregated at the following ecological scales: {{fs_meth_sp_agg_ecolo}}.



{% elif (fs_meth_sp_scale_32b == "ecolo") and fs_meth_sp_agg_ecolo and not fs_meth_temp_33a.time_scale %} {# spatial and temporal scales of aggregation second #}
<i><b>*Warning:</b> The answers provided did not mention the temporal aggregation (<i>e.g.,</i> monthly, quaterly, yearly...) at which the results should be reported. We advise the Commissioner to complete this information below.</i>

The results should be reported <i><b>[text to be completed by the Commissioner]</i></b>, and aggregated at the following ecological scale(s): {{fs_meth_sp_agg_ecolo}}.



{% elif (fs_meth_sp_scale_32b == "ecolo") and not fs_meth_sp_agg_ecolo and fs_meth_temp_33a.time_scale %} {# spatial and temporal scales of aggregation second #}

The results should be reported {{fs_meth_temp_33a.time_scale}}, and aggregated at ecological scales. The choice of the ecological scale(s) of relevance is left to the Contractor. In their proposal, the Contractor will justify their choice in regards to the decision-making context and purpose of the assessment, as well as limitations in data availability.



{% elif (fs_meth_spfs_meth_sp_scale_32b_ext_32a == "ecolo") and not fs_meth_sp_agg_ecolo and not fs_meth_temp_33a.time_scale %} {# spatial and temporal scales of aggregation second #}
<i><b>*Warning:</b> The answers provided did not mention the temporal aggregation (<i>e.g.,</i> monthly, quaterly, yearly...) at which the results should be reported. We advise the Commissioner to complete this information below.</i>

The results should be reported <i><b>[text to be completed by the Commissioner]</i></b>, and aggregated at ecological scales. The choice of the ecological scale(s) of relevance is left to the Contractor. In their proposal, the Contractor will justify their choice in regards to the decision-making context and purpose of the assessment, as well as limitations in data availability.


{% elif (fs_meth_sp_scale_32b == "admin") and fs_meth_sp_agg_ecolo and not fs_meth_temp_33a.time_scale %} {# spatial and temporal scales of aggregation second #}
<i><b>*Warning:</b> The answers provided did not mention the temporal aggregation (<i>e.g.,</i> monthly, quaterly, yearly...) at which the results should be reported. We advise the Commissioner to complete this information below.</i>

The results should be reported <i><b>[text to be completed by the Commissioner]</i></b>, and aggregated at the following adminstrative scales: {{fs_meth_sp_agg_ecolo}}.



{% elif (fs_meth_sp_scale_32b == "admin") and not fs_meth_sp_agg_ecolo and fs_meth_temp_33a.time_scale %} {# spatial and temporal scales of aggregation second #}

The results should be reported {{fs_meth_temp_33a.time_scale}}, and aggregated at administrative scales. The choice of the relevant administrative scale(s) is left to the Contractor. In their proposal, the Contractor will justify their choice in regards to the decision-making context and purpose of the assessment, as well as limitations in data availability.



{% elif (fs_meth_sp_ext_32a == "admin") and not fs_meth_sp_agg_ecolo and not fs_meth_temp_33a.time_scale %} {# spatial and temporal scales of aggregation second #}
<i><b>*Warning:</b> The answers provided did not mention the temporal aggregation (<i>e.g.,</i> monthly, quaterly, yearly...) at which the results should ne reported. We advise the Commissioner to complete this information below.</i>

The results should be reported <i><b>[text to be completed by the Commissioner]</i></b>, and aggregated at administrative scales. The choice of the relevant administrative scale(s) is left to the Contractor. In their proposal, the Contractor will justify their choice in regards to the decision-making context and purpose of the assessment, as well as limitations in data availability.

{% endif %}







{# Valuation of ES #}

{# Aspect of ES to be measured #}

{# Supply only #}
{% if ((fs_meth_es_measure_34c.essupply in ["yes", "maybe"]) and (fs_meth_es_measure_34c.esdemand in ["no", "dontknow", ""]) and (fs_meth_es_measure_34c.esuse in ["no", "dontknow", ""])) %} {# biophy and econo first #}
{% set aspect = "supply" %}

{% elif (fs_meth_es_measure_34c.essupply in ["no", "dontknow", ""]) and (fs_meth_es_measure_34c.esdemand in ["no", "dontknow", ""]) and (fs_meth_es_measure_34c.esuse in ["no", "dontknow", ""]) and (fs_meth_es_confirmation == "dontknow")%} {# biophy and econo first #}
{% set aspect = "supply" %}


{# Demand only #}
{% elif (fs_meth_es_measure_34c.esdemand in ["yes", "maybe"]) and (fs_meth_es_measure_34c.essupply in ["no", "dontknow", ""]) and (fs_meth_es_measure_34c.esuse in ["no", "dontknow", ""]) %} {# biophy and econo first #}
{% set aspect = "demand" %}


{# Use only #}
{% elif (fs_meth_es_measure_34c.esuse in ["yes", "maybe"]) and (fs_meth_es_measure_34c.essupply in ["no", "dontknow", ""]) and (fs_meth_es_measure_34c.esdemand in ["no", "dontknow", ""]) %} {# biophy and econo first #}
{% set aspect = "demand" %}


{# Supply and Demand #}
{% elif (fs_meth_es_measure_34c.esdemand in ["yes", "maybe"]) and (fs_meth_es_measure_34c.essupply in ["yes", "maybe"]) and (fs_meth_es_measure_34c.esuse in ["no", "dontknow", ""]) %} {# biophy and econo first #}
{% set aspect = "supply and demand" %}


{# Supply and Use #}
{% elif (fs_meth_es_measure_34c.esdemand in ["no", "dontknow", ""]) and (fs_meth_es_measure_34c.essupply in ["yes", "maybe"]) and (fs_meth_es_measure_34c.esuse in ["yes", "maybe"]) %} {# biophy and econo first #}
{% set aspect = "supply and demand" %}

{# Demand and Use #}
{% elif (fs_meth_es_measure_34c.esdemand in ["yes", "maybe"]) and (fs_meth_es_measure_34c.essupply in ["no", "dontknow", ""]) and (fs_meth_es_measure_34c.esuse in ["yes", "maybe"]) %} {# biophy and econo first #}
{% set aspect = "use and demand" %}


{# Supply, Use and Demand #}
{% elif (fs_meth_es_measure_34c.esdemand in ["yes", "maybe"]) and (fs_meth_es_measure_34c.essupply in ["yes", "maybe"]) and (fs_meth_es_measure_34c.esuse in ["yes", "maybe"]) %} {# biophy and econo first #}
{% set aspect = "supply, use and demand" %}


{# Undetermined #}
{% elif (fs_meth_es_measure_34c.essupply in ["no", "dontknow", ""]) and (fs_meth_es_measure_34c.esdemand in ["no", "dontknow", ""]) and (fs_meth_es_measure_34c.esuse in ["no", "dontknow", ""]) and (fs_meth_es_confirmation == "sure")%} {# biophy and econo first #}
{% set aspect = "<b><i>[text to be added by the Commissionner]</i></b>" %}

{% endif %}



{# Sustainability #}
{% if (fs_meth_sust_34f == "yes")  or (fs_meth_sust_confirmation == "no") %} {# biophy and econo first #}
{% set sustainability = "The assessment should also evaluate the sustainable " ~ aspect ~ " of the(these) service(s), to <b><i>[if possible, the Commissioner should specify why sustainability is important for the decision-making within which the assessment fits]</i></b>" %}

{% elif fs_meth_sust_34f == "maybe"  %} {# biophy and econo first #}
{% set sustainability = "The assessment might also evaluate the sustainable " ~ aspect ~ " of the(these) service(s), to <b><i>[if possible, the Commissioner should specify why sustainability is important for the decision-making within which the assessment fits]</i></b>" %}

{% elif fs_meth_sust_confirmation in ["yes", "dontknow"]  %} {# biophy and econo first #}
{% set sustainability = "" %}

{% endif %}


{# Both biophy and econo #}

{% if (fs_meth_biophy_34a in ["yes", "maybe"]) and (fs_meth_econo_34b == "yes") %} {# biophy and econo first #}
#### 1.3.3 Valuation of ecosystem services
The assessment should measure the {{aspect}} of the ecosystem service(s) of interest in biophysical terms and report their economic value in monetary terms. {{sustainability | safe}}

{% elif (fs_meth_biophy_34a in ["yes", "maybe"]) and (fs_meth_econo_34b == "maybe") %} {# biophy and econo first #}
#### 1.3.3 Valuation of ecosystem services
The assessment should measure the {{aspect}} of the ecosystem service(s) of interest in biophysical terms and might report their economic value in monetary terms. {{sustainability | safe}}

{% elif (fs_meth_biophy_confirmation == "no") and (fs_meth_econo_confirmation == "no") %} {# biophy and econo first #}
#### 1.3.3 Valuation of ecosystem services
The assessment should measure the {{aspect}} of the ecosystem service(s) of interest in biophysical terms and report their economic value in monetary terms. {{sustainability | safe}}

{% elif (fs_meth_econo_confirmation in ["no", "dontknow"]) and (fs_meth_econo_34b  =="yes") %} {# biophy and econo first #}
#### 1.3.3 Valuation of ecosystem services
The assessment should measure the {{aspect}} of the ecosystem service(s) of interest in biophysical terms and report their economic value in monetary terms. {{sustainability | safe}}

{% elif (fs_meth_econo_confirmation in ["no", "dontknow"]) and (fs_meth_econo_34b  == "maybe") %} {# biophy and econo first #}
#### 1.3.3 Valuation of ecosystem services
The assessment should measure the {{aspect}} of the ecosystem service(s) of interest in biophysical terms and might report their economic value in monetary terms. {{sustainability | safe}}

{% elif (fs_meth_biophy_34a == "maybe") and (fs_meth_econo_confirmation == "no") %} {# biophy and econo first #}
#### 1.3.3 Valuation of ecosystem services
The assessment should measure the {{aspect}} of the ecosystem service(s) of interest in biophysical terms and report their economic value in monetary terms. {{sustainability | safe}}


{# Biophy only #}

{% elif (fs_meth_biophy_34a == "yes") and (fs_meth_econo_confirmation in ["yes", "dontknow"]) %} {# biophy and econo first #}
#### 1.3.3Valuation of ecosystem services
The assessment should measure the {{aspect}} of the ecosystem service(s) of interest in biophysical terms. {{sustainability | safe}}

{% elif (fs_meth_biophy_confirmation == "yes") and (fs_meth_econo_confirmation == "dontknow") %} {# biophy and econo first #}
#### 1.3.3Valuation of ecosystem services
The assessment should measure the {{aspect}} of the ecosystem service(s) of interest in biophysical in monetary terms. {{sustainability | safe}}

{% elif (fs_meth_biophy_confirmation in ["no", "dontknow"]) and (fs_meth_econo_confirmation == ["yes", "dontknow"]) %} {# biophy and econo first #}
#### 1.3.3 Valuation of ecosystem services
The assessment should measure the {{aspect}} of the ecosystem service(s) of interest in biophysical terms. {{sustainability | safe}}



{# Econo only #}

{% elif (fs_meth_econo_confirmation == "yes") and (fs_meth_econo_34b == "yes") %} {# biophy and econo first #}
#### 1.3.3 Valuation of ecosystem services
The assessment should measure the {{aspect}} of the economic value of the ecosystem service(s) of interest in monetary terms. {{sustainability | safe}}

{% elif (fs_meth_biophy_confirmation == "yes") and (fs_meth_econo_confirmation == "no") %} {# biophy and econo first #}
#### 1.3.3Valuation of ecosystem services
The assessment should measure the {{aspect}} of the economic value of the ecosystem service(s) of interest in monetary terms. {{sustainability | safe}}

{% endif %}



{# Social and health #}

{# Determine focus of health #}
{% if (fs_meth_health_34e.human_health in ["yes", "maybe"]) and (fs_meth_health_34e.animal_health in ["no", "dontknow", ""]) and (fs_meth_health_34e.plant_health in ["no", "dontknow", ""]) and (fs_meth_health_34e.one_health in ["no", "dontknow", ""]) %} {# Human health only #}
{% set health_focus = "human health" %}

{% elif (fs_meth_health_34e.animal_health in ["yes", "maybe"]) and (fs_meth_health_34e.human_health in ["no", "dontknow", ""]) and (fs_meth_health_34e.plant_health in ["no", "dontknow", ""]) and (fs_meth_health_34e.one_health in ["no", "dontknow", ""]) %} {# Animal health only #}
{% set health_focus = "animal health" %}

{% elif fs_meth_health_34e.plant_health in ["yes", "maybe"] and (fs_meth_health_34e.human_health in ["no", "dontknow", ""]) and (fs_meth_health_34e.animal_health in ["no", "dontknow", ""]) and (fs_meth_health_34e.one_health in ["no", "dontknow", ""]) %} {# Plant health only #}
{% set health_focus = "human health" %}

{% elif (fs_meth_health_34e.one_health in ["yes", "maybe"]) %} {# One health only #}
{% set health_focus = "One Health" %}

{% elif (fs_meth_health_34e.human_health in ["yes", "maybe"]) and (fs_meth_health_34e.animal_health in ["yes", "maybe"]) and (fs_meth_health_34e.plant_health in ["yes", "maybe"]) %} {# One health only #}
{% set health_focus = "One Health" %}

{% elif (fs_meth_health_34e.human_health in ["yes", "maybe"]) and (fs_meth_health_34e.animal_health in ["yes", "maybe"]) and (fs_meth_health_34e.plant_health in ["no", "dontknow", ""]) and (fs_meth_health_34e.one_health in ["no", "dontknow", ""]) %} {# human and animal only #}
{% set health_focus = "human and animal health" %}

{% elif (fs_meth_health_34e.human_health in ["yes", "maybe"]) and (fs_meth_health_34e.animal_health in ["no", "dontknow", ""]) and (fs_meth_health_34e.plant_health in ["yes", "maybe"]) and (fs_meth_health_34e.one_health in ["no", "dontknow", ""]) %} {# human and plant only #}
{% set health_focus = "human and plant health" %}

{% elif (fs_meth_health_34e.human_health in ["no", "dontknow", ""]) and (fs_meth_health_34e.animal_health in ["yes", "maybe"]) and (fs_meth_health_34e.plant_health in ["yes", "maybe"]) and (fs_meth_health_34e.one_health in ["no", "dontknow", ""]) %} {# plant and animal only #}
{% set health_focus = "plant and animal health" %}

{% elif (fs_meth_health_confirmation == "no") and (fs_meth_health_34e.human_health == "no") and (fs_meth_health_34e.animal_health == "no") and (fs_meth_health_34e.plant_health == "no") and (fs_meth_health_34e.one_health == "no") %} {# undetermined only #}
{% set health_focus = "<b><i>[the health focus has not be specific, text to be completed by the Commissioner]</i></b>" %}

{% endif %}



{# Social benefits and Health #}
{% if ((fs_meth_social_34d in ["yes", "maybe"]) or (fs_meth_social_confirmation == "no")) and ((fs_meth_health_34e.human_health in ["yes", "maybe"]) or (fs_meth_health_34e.animal_health in ["yes", "maybe"]) or (fs_meth_health_34e.plant_health in ["yes", "maybe"]) or (fs_meth_health_34e.one_health in ["yes", "maybe"]) or (fs_meth_health_confirmation == "no") and (fs_meth_social_confirmation in ["yes", "dontknow"])) %} {# biophy and econo first #}
In this assessment, we are also interested in the health and social values of the ecosystem service(s) of interest. By health we more specifically refer to the relevance of the service(s) towards {{health_focus}}. These should be measured using relevant metrics. More details are provided in the Methodology section of this document.

{# Social benefits only #}
{% elif ((fs_meth_social_34d in ["yes", "maybe"]) or (fs_meth_social_confirmation == "no")) and (fs_meth_health_confirmation in ["yes", "dontknow"]) %} {# biophy and econo first #}
In this assessment, we are also interested in the social value of the ecosystem service(s) of interest. This should be measured using relevant metrics. More details are provided in the Methodology section of this document.

{# Health only #}
{% elif (fs_meth_health_34e.human_health in ["yes", "maybe"]) or (fs_meth_health_34e.animal_health in ["yes", "maybe"]) or (fs_meth_health_34e.plant_health in ["yes", "maybe"]) or (fs_meth_health_34e.one_health in ["yes", "maybe"]) or (fs_meth_health_confirmation == "no") and (fs_meth_social_confirmation in ["yes", "dontknow"])%} {# biophy and econo first #}
In this assessment, we are also interested in the value of the ecosystem service(s) of interest in terms of their relevance to health. By health we more specifically refer to {{health_focus}}. This should be measured using relevant metrics. More details are provided in the Methodology section of this document.

{% endif %}



{# Condition #}
{% if (fs_meth_cond_34g in ["yes", "maybe"]) or (fs_meth_cond_confirmation == "no") %} 
Finally, the assessment should include an evaluation of the condition of the ecosystem(s) providing the ecosystem service(s) of interest. 

{% endif %}




{# 1.3.4 Scenarios #}
{% if (fs_meth_scenario_35a in ["yes", "maybe"]) or (fs_meth_scenario_confirmation == "no") %} {# Scenarios #}
#### 1.3.4 Scenarios
The ecosystem service assessment should include a scenario analysis to <b><i>[if possible, the Commissioner should describe the reason(s) why a scenario analysis should be conducted]</i></b>.

{% endif %}




{# 1.4 Stakeholder Engagement #}

{% if (fs_stake_involv_4b in ["yes", "maybe"] or fs_meth_stakeholder_confirmation == "no") and (fs_stake_analysis_4a in ["yes", "maybe"]) and fs_stake_id_4c %} {# Stakeholders #}
### 1.4 Stakeholder Engagement
Stakeholders are expected to be involved throughout the ecosystem service assessment. Prior to starting the assessment, the applicant will be asked to conduct a detailed stakeholder analysis to identify the key stakeholders that will be involved in the development of the project. Key stakeholders who could be involved are {{fs_stake_analysis_4c}}.

{% elif (fs_stake_involv_4b in ["yes", "maybe"] or fs_meth_stakeholder_confirmation == "no") and (fs_stake_analysis_4a in ["yes", "maybe"]) and (fs_stake_id_4c == "") %} {# Stakeholders #}
### 1.4 Stakeholder Engagement
Stakeholders are expected to be involved throughout the ecosystem service assessment. Prior to starting the assessment, the applicant will be asked to conduct a detailed stakeholder analysis to identify the key stakeholders that will be involved in the development of the project. 

{% elif (fs_stake_involv_4b in ["yes", "maybe"] or fs_meth_stakeholder_confirmation == "no") and (fs_stake_analysis_4a in ["no", "dontknow"]) and (fs_stake_id_4c == "") %} {# Stakeholders #}
### 1.4 Stakeholder Engagement
Stakeholders are expected to be involved throughout the ecosystem service assessment. The choice of the key stakeholders to be involved is left to the Contractor. In their proposal, the Contractor shall explain the main reason for choosing a particular stakeholder.

{% elif (fs_stake_involv_4b in ["yes", "maybe"] or fs_meth_stakeholder_confirmation == "no") and  (fs_stake_analysis_4a in ["no", "dontknow"]) and fs_stake_id_4c %} {# Stakeholders #}
### 1.4 Stakeholder Engagement
Stakeholders are expected to be involved throughout the ecosystem service assessment. Key stakeholders who could be involved are {{fs_stake_id_4c}}.

{% endif %}






## 2. Methodology
### 2.1 Methodological characteristics
{% set meth_subsection_counter = meth_subsection_counter|default(0) + 1 %}


{# Economic valuation #}
{# Identify valuartion method #}

{% if me_econ_valuation_11a.prim == "yes" %} 
{% set val_meth_list = [] %}

   {% if me_valuation_methods.rev_prev in ["yes", "maybe"] %} 
   {% set val_meth_list = val_meth_list + ["Revealed prefence methods"] %}
   {% endif %}

   {% if me_valuation_methods.stat_pref in ["yes", "maybe"] %} 
   {% set val_meth_list = val_meth_list + ["Stated preference methods"] %}
   {% endif %}

   {% if me_valuation_methods.mark_price in ["yes", "maybe"] %} 
   {% set val_meth_list = val_meth_list + ["Market prices"] %}
   {% endif %}

   {% if me_valuation_methods.repl_cost in ["yes", "maybe"] %} 
   {% set val_meth_list = val_meth_list + ["Replacement cost"] %}
   {% endif %}

   {% if me_valuation_methods.dam_cost in ["yes", "maybe"] %} 
   {% set val_meth_list = val_meth_list + ["Damage cost avoided"] %}
   {% endif %}

   {% if me_valuation_methods.soc_cost in ["yes", "maybe"] %} 
   {% set val_meth_list = val_meth_list + ["Social cost of carbon"] %}
   {% endif %}

   {% if me_valuation_methods.net_fact in ["yes", "maybe"] %} 
   {% set val_meth_list = val_meth_list + ["Net factor income"] %}
   {% endif %}

   {% if me_valuation_methods.prod_fn in ["yes", "maybe"] %} 
   {% set val_meth_list = val_meth_list + ["Production function"] %}
   {% endif %}

   {% if me_valuation_methods.hed_pric in ["yes", "maybe"] %} 
   {% set val_meth_list = val_meth_list + ["Hedonic pricing"] %}
   {% endif %}

   {% if me_valuation_methods.trav_cost in ["yes", "maybe"] %} 
   {% set val_meth_list = val_meth_list + ["Travel cost method"] %}
   {% endif %}

   {% if me_valuation_methods.cont_val in ["yes", "maybe"] %} 
   {% set val_meth_list = val_meth_list + ["Contingent valuation"] %}
   {% endif %}

   {% if me_valuation_methods.choice_mod in ["yes", "maybe"] %} 
   {% set val_meth_list = val_meth_list + ["Choice modelling"] %}
   {% endif %}

{% endif %}

{# Economic valuation ToR text #}

{# No methods #}
{% if me_expertise_needed_1 == "no" or (me_econ_valuation_11a.value == "dontknow" and me_econ_valuation_11a.prim == "dontknow") %} 
#### 2.1.{{meth_subsection_counter}} Economic valuation
The choice of the valuation method(s) to be applied is left to the Contractor. In their proposal, the Contractor will justify their choice(s) in regards to the decision-making and context of the assessment, as well as the data availability.



{# Both valuation methods #}
{% elif me_econ_valuation_11a.value in ["yes", "maybe"] and me_econ_valuation_11a.prim in ["yes", "maybe"] %} 
#### 2.1.{{meth_subsection_counter}} Economic valuation

The study should design and apply both value transfer methods and primary valuation methods to estimate the economic value of each identified ecosystem service. 

<b>For value transfer methods</b>, transferred values should be adjusted to reflect the characteristics of the study site in terms of ecosystem extent, condition, population of beneficiaries and income level. This could involve the use of available databases of ecosystem service values and / or the use of published value transfer functions.

<b>For primary valuation methods</b>, preferrence is given to: {% for method in val_meth_list %} {% if loop.index0 > 0 %} {% if loop.last %}{{ " and " }}{% else %}{{ ", " }}{% endif %} {% endif %} {{ method }} {% endfor %}.


{# Transfer methods only #}
{% elif me_econ_valuation_11a.value in ["yes", "maybe"] and me_econ_valuation_11a.prim in ["no", "dontknow"] %} 
#### 2.1.{{meth_subsection_counter}} Economic valuation

The study should design and apply value transfer methods and primary valuation methods to estimate the economic value of each identified ecosystem service. Transferred values should be adjusted to reflect the characteristics of the study site in terms of ecosystem extent, condition, population of beneficiaries and income level. This could involve the use of available databases of ecosystem service values and / or the use of published value transfer functions.


{# Primary methods only #}
{% elif me_econ_valuation_11a.value in ["no", "dontknow"] and me_econ_valuation_11a.prim in ["yes", "maybe"] %} 
#### 2.1.{{meth_subsection_counter}} Economic valuation

The study should design and apply primary valuation methods to estimate the economic value of each identified ecosystem service. Preferrence is given to {% for method in val_meth_list %} {% if loop.index0 > 0 %} {% if loop.last %}{{ " and " }}{% else %}{{ ", " }}{% endif %} {% endif %} {{ method }} {% endfor %}. 


{# Other #}
{% elif me_econ_valuation_11a.value == "no" and me_econ_valuation_11a.prim == "no" %} 
#### 2.1.{{meth_subsection_counter}} Economic valuation
The study should design and apply {{other_valuation}} to estimate the economic value of each identified ecosystem service. 

{% endif %}


{# Economic indicators #}
{% if me_econo_id %} 
In addition, the results of the assessment should measure the contribution of the ecosystem service(s) of interest to the economic development of the area of interest. Particular economic indicators of interest are {{me_econo_id}}.

{% elif (me_econ_dev_11b in ["yes", "mabe"]) and me_econo_id == "" %} 
In addition, the results of the assessment should measure the contribution of the ecosystem service(s) of interest to the economic development of the area of interest. The choice of the economic indicators are left to the Contrator. In their proposal, the Contractor should clearly describe and justify the economic indicators that will be used, with regards to the decision-making and purpose of the assessment.
{% endif %}

The Contractor may deviate from the suggestions described above. In that case, the Contractor shall describe and justify the new approach in relation to the decision-making and purpose of the assessment, as well as the data availability if relevant.


