
{# Prep a macro to display listed elements in sentences #}
{% macro join_natural(items) %}
{%- if items | length == 1 %}{{ items[0] }}
{%- elif items | length == 2 %}{{ items[0] }} and {{ items[1] }}
{%- else %}{{ items[:-1] | join(", ") }} and {{ items[-1] }}
{%- endif %}
{%- endmacro %}

{# Prep a macro for main section numbering #}
{% set main_section_counter = main_section_counter|default(0) %}

{# Prep a macro for Methodology subsections numbering #}
{% set me_subsection_counter = me_subsection_counter|default(0) %}

{# Prep a macro for Methodology - methodological characteristics subsections numbering #}
{% set meth_subsection_counter = meth_subsection_counter|default(0) %}


# Terms of Reference

*This Terms of Reference has been automatically-generated based on a writing guidance developed by SELINA. In this document:*

- ***Commissioner** refers to decision-makers or users commissioning an ecosystem service assessment through a call for tender with Terms of Reference;*

- ***Contractor** refers to the applicants answering the call for tender and sending proposals to the commissioners.*




{% set main_section_counter = main_section_counter + 1 %}
## {{main_section_counter}} Frame & Scope
### 1.1 Context and Purpose
{% if fs_purpose_1a and fs_context_policy_1b and fs_context_social_1d %} {# all questions are mandatory so they can't be empty #}

   {{ fs_purpose_1a }}

   Relevant policies to be considered in this assessment include: {{ fs_context_policy_1b }}.

   {{ fs_context_social_1d }}

{% endif %}

{% if fs_context_decision_1e|lower == 'yes' %} {# if asking for recommandations is yes #}

   Based on the results, the ecosystem service assessment should aim at providing recommendations on ***[text to be completed by the Commissioner]***.

{% elif fs_context_decision_1e|lower == 'maybe' %} {# if asking for recommandations is maybe #}

   Based on the results, the ecosystem service assessment might aim at providing recommendations on ***[text to be completed by the Commissioner]***.

{% endif %}






### 1.2 Intended impacts and outputs
***Warning:** The survey doesn't cover this section, we recommend our users to refer to our [PDF templates](https://selina.nina.no/static/SELINA_ToR_pdf_templates.pdf) to complete this section.*

#### 1.2.1 Intended users and uses
***[text to be added by the Commissioner]***

#### 1.2.2 Intended impacts
***[text to be added by the Commissioner]***

#### 1.2.3 Formats of the deliverables
***[text to be added by the Commissioner]***






### 1.3 General methodological characteristics

{# ET missing and ES list missing #}
{% if not fs_meth_et_31a.et_list and not fs_meth_et_31a.et_class and not fs_meth_es_31b.es_list and not fs_meth_es_31b.es_class %}
#### 1.3.1 Ecosystem type(s) and service(s)

The choice of the ecosystem types and services to be included as well as the choice of both the ecosystem type and ecosystem service classifications to be used are left to the Contractor. In their proposal, the Contractor shall explain their choices in regards to the decision-making context and purpose of the assessment, as well as limitations in data availability.


{# ET missing #}
{% elif not fs_meth_et_31a.et_list and not fs_meth_et_31a.et_class and fs_meth_es_31b.es_list and fs_meth_es_31b.es_class %} {# if ET missing #}

#### 1.3.1 Ecosystem type(s) and service(s)

The ecosystem service(s) of interest in this assessment are: {{fs_meth_es_31b.es_list}}. {{fs_meth_es_31b.es_class}} should be preferably used to define them.

The choice of the ecosystem types to be included as well as the choice of the ecosystem type classification to be used to define the ecosystem type(s) and service(s) of interest are left to the Contractor. In their proposal, the Contractor shall explain their choices in regards to the decision-making context and purpose of the assessment, as well as limitations in data availability.


{% elif not fs_meth_et_31a.et_list and not fs_meth_et_31a.et_class and fs_meth_es_31b.es_list and not fs_meth_es_31b.es_class %} {# if ET missing #}

#### 1.3.1 Ecosystem type(s) and service(s)

The ecosystem service(s) of interest in this assessment are: {{fs_meth_es_31b.es_list}}.

The choice of the ecosystem types to be included as well as the choice of both the ecosystem type and ecosystem service classifications to be used to define the ecosystem type(s) and service(s) of interest are left to the Contractor. In their proposal, the Contractor shall explain their choices in regards to the decision-making context and purpose of the assessment, as well as limitations in data availability.


{% elif not fs_meth_et_31a.et_list and not fs_meth_et_31a.et_class and not fs_meth_es_31b.es_list and fs_meth_es_31b.es_class %} {# if ET missing #}

#### 1.3.1 Ecosystem type(s) and service(s)

{{fs_meth_es_31b.es_class}} should be preferably used to define ecosystem services.

The choice of the ecosystem types and services to be included as well as the choice of the ecosystem type classification to be used are left to the Contractor. In their proposal, the Contractor shall explain their choices in regards to the decision-making context and purpose of the assessment, as well as limitations in data availability.



{# ES missing #}
{% elif fs_meth_et_31a.et_list and fs_meth_et_31a.et_class and not fs_meth_es_31b.es_list and not fs_meth_es_31b.es_class %} {# if ES missing #}

#### 1.3.1 Ecosystem type(s) and service(s)

The choice of the ecosystem services to be included as well as the choice of ecosystem service classification to be used are left to the Contractor. In their proposal, the Contractor shall explain their choices in regards to the decision-making context and purpose of the assessment, as well as limitations in data availability.

The ecosystem type(s) of interest in this assessment are: {{fs_meth_et_31a.et_list}}. {{fs_meth_et_31a.et_class}} should be preferably used to define them.


{% elif fs_meth_et_31a.et_list and not fs_meth_et_31a.et_class and not fs_meth_es_31b.es_list and not fs_meth_es_31b.es_class %} {# if ES missing #}

#### 1.3.1 Ecosystem type(s) and service(s)

The choice of the ecosystem services to be included as well as the choice of ecosystem service classification to be used are left to the Contractor.

The ecosystem type(s) of interest in this assessment are: {{fs_meth_et_31a.et_list}}. The ecosystem service classification to be used is left to the choice of the Contractor.

In their proposal, the Contractor shall explain their choices in regards to the decision-making context and purpose of the assessment, as well as limitations in data availability.



{% elif not fs_meth_et_31a.et_list and fs_meth_et_31a.et_class and not fs_meth_es_31b.es_list and not fs_meth_es_31b.es_class %} {# if ES missing #}

#### 1.3.1 Ecosystem type(s) and service(s)

The choice of the ecosystem types and ecosystem services to be included as well as the choice of ecosystem service classification to be used are left to the Contractor.

The ecosystem type(s) of interest should be preferably defined with {{fs_meth_et_31a.et_class}}. The ecosystem service classification to be used is left to the choice of the Contractor.

In their proposal, the Contractor shall explain their choices in regards to the decision-making context and purpose of the assessment, as well as limitations in data availability.






{# ET and ES #}
{# 1.3.1 Ecosystem type(s) and service(s) #}
{% elif fs_meth_et_31a.et_list and  fs_meth_et_31a.et_class and fs_meth_es_31b.es_list and fs_meth_es_31b.es_class %} {# if none of the answers are empty #}

#### 1.3.1 Ecosystem type(s) and service(s)

The ecosystem service(s) of interest in this assessment are: {{fs_meth_es_31b.es_list}}. {{fs_meth_es_31b.es_class}} should be preferably used to define them.

The ecosystem type(s) of interest in this assessment are: {{fs_meth_et_31a.et_list}}. {{fs_meth_et_31a.et_class}} should be preferably used to define them.




{% elif fs_meth_et_31a.et_list and not fs_meth_et_31a.et_class and fs_meth_es_31b.es_list and fs_meth_es_31b.es_class %} {# if ET classification missing #}

#### 1.3.1 Ecosystem type(s) and service(s)

The ecosystem service(s) of interest in this assessment are: {{fs_meth_es_31b.es_list}}. {{fs_meth_es_31b.es_class}} should be preferably used to define them.

The ecosystem type(s) of interest in this assessment are: {{fs_meth_et_31a.et_list}}. The ecosystem typology to be used is left to the choice of the Contractor. In their proposal, the Contractor shall explain the relevance of the chosen classification(s) for the decision-making context and purpose of the assessment.




{% elif fs_meth_et_31a.et_list and fs_meth_et_31a.et_class and fs_meth_es_31b.es_list and not fs_meth_es_31b.es_class %} {# if ES classification missing #}

#### 1.3.1 Ecosystem type(s) and service(s)

The ecosystem service(s) of interest in this assessment are: {{fs_meth_es_31b.es_list}}. The ecosystem service classification to be used is left to the choice of the Contractor. In their proposal, the Contractor shall explain the relevance of the chosen classification(s) for the decision-making context and purpose of the assessment.

The ecosystem type(s) of interest in this assessment are: {{fs_meth_et_31a.et_list}}. {{fs_meth_et_31a.et_class}} should be preferably used to define them.




{% elif fs_meth_et_31a.et_list and not fs_meth_et_31a.et_class and fs_meth_es_31b.es_list and not fs_meth_es_31b.es_class %} {# if both classifications are missing #}

#### 1.3.1 Ecosystem type(s) and service(s)

The ecosystem service(s) of interest in this assessment are: {{fs_meth_es_31b.es_list}}.

The ecosystem type(s) of interest in this assessment are: {{fs_meth_et_31a.et_list}}.

The choice of both the ecosystem type and ecosystem service classifications to be used to define the ecosystem type(s) and service(s) of interest is left to the Contractor. In their proposal, the Contractor shall explain the relevance of the chosen classifications for the decision-making context and purpose of the assessment.




{% elif fs_meth_et_31a.et_list and fs_meth_et_31a.et_class and not fs_meth_es_31b.es_list and fs_meth_es_31b.es_class %} {# if ES list missing#}

#### 1.3.1 Ecosystem type(s) and service(s)

The ecosystem type(s) of interest in this assessment are: {{fs_meth_et_31a.et_list}}. {{fs_meth_et_31a.et_class}} should be preferably used to define them.

The choice of the ecosystem services to be included is left to the Contractor. {{fs_meth_es_31b.es_class}} should be preferably used to define them.

In their proposal, the Contractor shall explain their choices in regards to the decision-making context and purpose of the assessment, as well as limitations in data availability.




{% elif not fs_meth_et_31a.et_list and fs_meth_et_31a.et_class and fs_meth_es_31b.es_list and fs_meth_es_31b.es_class %} {# if ET list missing#}

#### 1.3.1 Ecosystem type(s) and service(s)

The ecosystem service(s) of interest in this assessment are: {{fs_meth_es_31b.es_list}}. {{fs_meth_es_31b.es_class}} should be preferably used to define them.

The choice of the ecosystem types to be included is left to the Contractor. {{fs_meth_et_31a.et_class}} should be preferably used to define them.

In their proposal, the Contractor shall explain their choices in regards to the decision-making context and purpose of the assessment, as well as limitations in data availability.




{% elif not fs_meth_et_31a.et_list and fs_meth_et_31a.et_class and not fs_meth_es_31b.es_list and fs_meth_es_31b.es_class %} {# if ET list and ES list missing#}

#### 1.3.1 Ecosystem type(s) and service(s)

{{fs_meth_es_31b.es_class}} should be preferably used to define ecosystem services, while {{fs_meth_et_31a.et_class}} should be preferably used to define ecosystem types.

The choice of the ecosystem types and services to be included in this assessment is left to the Contractor. In their proposal, the Contractor shall explain their choices in regards to the decision-making context and purpose of the assessment, as well as limitations in data availability.





{% elif not fs_meth_et_31a.et_list and fs_meth_et_31a.et_class and fs_meth_es_31b.es_list and not fs_meth_es_31b.es_class %} {# if ET list and ES list missing#}

#### 1.3.1 Ecosystem type(s) and service(s)

The ecosystem service(s) of interest in this assessment are: {{fs_meth_es_31b.es_list}}.

{{fs_meth_et_31a.et_class}} should be preferably used to define ecosystem types.

The choice of the ecosystem types to be included in this assessment as well as the ecosystem service classification are left to the Contractor. In their proposal, the Contractor shall explain their choices in regards to the decision-making context and purpose of the assessment, as well as limitations in data availability.




{% elif fs_meth_et_31a.et_list and not fs_meth_et_31a.et_class and not fs_meth_es_31b.es_list and fs_meth_es_31b.es_class %} {# if ET list and ES list missing#}

#### 1.3.1 Ecosystem type(s) and service(s)

The ecosystem type(s) of interest in this assessment are: {{fs_meth_et_31a.et_list}}.

{{fs_meth_es_31b.es_class}} should be preferably used to define ecosystem services.

The choice of the ecosystem services to be included in this assessment as well as the ecosystem type classification are left to the Contractor. In their proposal, the Contractor shall explain their choices in regards to the decision-making context and purpose of the assessment, as well as limitations in data availability.


{% endif %}







{# 1.3.2 Spatial and temporal characteristics #}

{% if fs_meth_sp_ext_32a.geo_loc and fs_meth_sp_ext_32a.sp_extent and fs_meth_temp_33a.time_period %} {# spatial extent and temporal period first #}
#### 1.3.2 Spatial and temporal characteristics

The ecosystem service assessment is to be conducted in {{fs_meth_sp_ext_32a.geo_loc}}, covering a total spatial area of {{fs_meth_sp_ext_32a.sp_extent}}. The assessment should be conducted for {{ fs_meth_temp_33a.time_period }}.


{% elif fs_meth_sp_ext_32a.geo_loc and not fs_meth_sp_ext_32a.sp_extent and fs_meth_temp_33a.time_period %} {# spatial extent and temporal period first #}
#### 1.3.2 Spatial and temporal characteristics

The ecosystem service assessment is to be conducted in {{fs_meth_sp_ext_32a.geo_loc}}. The assessment should be conducted for {{ fs_meth_temp_33a.time_period }}.



{% elif not fs_meth_sp_ext_32a.geo_loc and fs_meth_sp_ext_32a.sp_extent and fs_meth_temp_33a.time_period %} {# spatial extent and temporal period first #}
#### 1.3.2 Spatial and temporal characteristics

***Warning:** The answers provided did not mention the the geographical location of the assessment. We advise the Commissioner to complete this information below.*

The ecosystem service assessment is to be conducted in [text to be completed by the Commissioner: geographical location], covering a total spatial area of {{fs_meth_sp_ext_32a.sp_extent}}. The assessment should be conducted for {{ fs_meth_temp_33a.time_period }}.



{% elif fs_meth_sp_ext_32a.geo_loc and fs_meth_sp_ext_32a.sp_extent and not fs_meth_temp_33a.time_period %} {# spatial extent and temporal period first #}
#### 1.3.2 Spatial and temporal characteristics

***Warning:** The answers provided did not mention the time period of the assessment. We advise the Commissioner to complete this information below.*

The ecosystem service assessment is to be conducted in {{fs_meth_sp_ext_32a.geo_loc}}, covering a total spatial area of {{fs_meth_sp_ext_32a.sp_extent}}. The assessment should be conducted for ***[text to be completed by the Commissioner: time period]***.



{% elif fs_meth_sp_ext_32a.geo_loc and not fs_meth_sp_ext_32a.sp_extent and not fs_meth_temp_33a.time_period %} {# spatial extent and temporal period first #}
#### 1.3.2 Spatial and temporal characteristics

***Warning:** The answers provided did not mention the time period of the assessment. We advise the Commissioner to complete this information below.*

The ecosystem service assessment is to be conducted in {{fs_meth_sp_ext_32a.geo_loc}}. The assessment should be conducted for ***[text to be completed by the Commissioner: time period]***.



{% elif not fs_meth_sp_ext_32a.geo_loc and not fs_meth_sp_ext_32a.sp_extent and fs_meth_temp_33a.time_period %} {# spatial extent and temporal period first #}
#### 1.3.2 Spatial and temporal characteristics

***Warning:** The answers provided did not mention the geographical location of the assessment. We advise the Commissioner to complete this information below.*

The ecosystem service assessment is to be conducted in ***[text to be completed by the Commissioner: geographical localisation and spatial extent]***. The assessment should be conducted for {{ fs_meth_temp_33a.time_period }}.



{% elif not fs_meth_sp_ext_32a.geo_loc and fs_meth_sp_ext_32a.sp_extent and not fs_meth_temp_33a.time_period %} {# spatial extent and temporal period first #}
#### 1.3.2 Spatial and temporal characteristics

***Warning:** The answers provided did not mention the geographical location and the time period of the assessment. We advise the Commissioner to complete this information below.*

The ecosystem service assessment is to be conducted in ***[text to be completed by the Commissioner: geographical location]***.covering a total spatial area of {{fs_meth_sp_ext_32a.sp_extent}}. The assessment should be conducted for ***[text to be completed by the Commissioner: time period]***.

{% endif %}


{% if fs_meth_sp_scale_32b == "full_sp" and fs_meth_temp_33a.time_scale %} {# spatial and temporal scales of aggregation second #}
The results should be fully spatially explicit and reported {{fs_meth_temp_33a.time_scale}}.



{% elif (fs_meth_sp_scale_32b == "full_sp") and not fs_meth_temp_33a.time_scale %} {# spatial and temporal scales of aggregation second #}
***Warning:** The answers provided did not mention the temporal aggregation (e.g., monthly, quarterly, yearly...) at which the results should be reported. We advise the Commissioner to complete this information below.*

The results should be fully spatially explicit and reported ***[text to be completed by the Commissioner: temporal aggregation of the results such as yearly, quarterly, monthly...]***.



{% elif not fs_meth_sp_scale_32b and fs_fs_meth_temp_33atemp_33a.time_scale %} {# spatial and temporal scales of aggregation second #}
***Warning:** The answers provided did not mention the spatial aggregation (i.e., fully spatially explicit, aggregation at ecological or administrative scales.) at which the results should be reported. We advise the Commissioner to complete this information below.*

The results should be ***[text to be completed by the Commissioner: spatial aggregation of the results such as fully spatially explicit, regional aggregation, riparian zones...]*** and reported {{fs_meth_temp_33a.time_scale}}.



{% elif (fs_meth_sp_scale_32b == "ecolo") and fs_meth_sp_agg_ecolo and fs_meth_temp_33a.time_scale %} {# spatial and temporal scales of aggregation second #}
The results should be reported {{fs_meth_temp_33a.time_scale}}, and aggregated at the following ecological scales: {{fs_meth_sp_agg_ecolo}}.



{% elif (fs_meth_sp_scale_32b == "ecolo") and fs_meth_sp_agg_ecolo and not fs_meth_temp_33a.time_scale %} {# spatial and temporal scales of aggregation second #}
***Warning:** The answers provided did not mention the temporal aggregation (e.g., monthly, quarterly, yearly...) at which the results should be reported. We advise the Commissioner to complete this information below.*

The results should be reported ***[text to be completed by the Commissioner: temporal aggregation of the results such as yearly, quarterly, monthly...]***, and aggregated at the following ecological scale(s): {{fs_meth_sp_agg_ecolo}}.



{% elif (fs_meth_sp_scale_32b == "ecolo") and not fs_meth_sp_agg_ecolo and fs_meth_temp_33a.time_scale %} {# spatial and temporal scales of aggregation second #}

The results should be reported {{fs_meth_temp_33a.time_scale}}, and aggregated at ecological scales. The choice of the ecological scale(s) of relevance is left to the Contractor. In their proposal, the Contractor shall justify their choice in regards to the decision-making context and purpose of the assessment, as well as limitations in data availability.



{% elif (fs_meth_spfs_meth_sp_scale_32b_ext_32a == "ecolo") and not fs_meth_sp_agg_ecolo and not fs_meth_temp_33a.time_scale %} {# spatial and temporal scales of aggregation second #}
***Warning:** The answers provided did not mention the temporal aggregation (e.g., monthly, quarterly, yearly...) at which the results should be reported. We advise the Commissioner to complete this information below.*

The results should be reported ***[text to be completed by the Commissioner: temporal aggregation of the results such as yearly, quarterly, monthly...]***, and aggregated at ecological scales. The choice of the ecological scale(s) of relevance is left to the Contractor. In their proposal, the Contractor shall justify their choice in regards to the decision-making context and purpose of the assessment, as well as limitations in data availability.


{% elif (fs_meth_sp_scale_32b == "admin") and fs_meth_sp_agg_ecolo and not fs_meth_temp_33a.time_scale %} {# spatial and temporal scales of aggregation second #}
***Warning:** The answers provided did not mention the temporal aggregation (e.g., monthly, quarterly, yearly...) at which the results should be reported. We advise the Commissioner to complete this information below.*

The results should be reported ***[text to be completed by the Commissioner: temporal aggregation of the results such as yearly, quarterly, monthly...]***, and aggregated at the following adminstrative scales: {{fs_meth_sp_agg_ecolo}}.



{% elif (fs_meth_sp_scale_32b == "admin") and not fs_meth_sp_agg_ecolo and fs_meth_temp_33a.time_scale %} {# spatial and temporal scales of aggregation second #}

The results should be reported {{fs_meth_temp_33a.time_scale}}, and aggregated at administrative scales. The choice of the relevant administrative scale(s) is left to the Contractor. In their proposal, the Contractor shall justify their choice in regards to the decision-making context and purpose of the assessment, as well as limitations in data availability.



{% elif (fs_meth_sp_ext_32a == "admin") and not fs_meth_sp_agg_ecolo and not fs_meth_temp_33a.time_scale %} {# spatial and temporal scales of aggregation second #}
***Warning:** The answers provided did not mention the temporal aggregation (e.g., monthly, quarterly, yearly...) at which the results should ne reported. We advise the Commissioner to complete this information below.*

The results should be reported ***[text to be completed by the Commissioner: temporal aggregation of the results such as yearly, quarterly, monthly...]***, and aggregated at administrative scales. The choice of the relevant administrative scale(s) is left to the Contractor. In their proposal, the Contractor shall justify their choice in regards to the decision-making context and purpose of the assessment, as well as limitations in data availability.

{% endif %}







{# Valuation of ES #}

{# Aspect of ES to be measured #}

{# Supply only #}
{% if ((fs_meth_es_measure_34c.essupply in ["yes", "maybe"]) and (fs_meth_es_measure_34c.esdemand in ["no", "dontknow", ""]) and (fs_meth_es_measure_34c.esuse in ["no", "dontknow", ""])) %} {# biophy and econo first #}
{% set aspect = "supply" %}

{% elif (fs_meth_es_measure_34c.essupply in ["no", "dontknow", ""]) and (fs_meth_es_measure_34c.esdemand in ["no", "dontknow", ""]) and (fs_meth_es_measure_34c.esuse in ["no", "dontknow", ""]) and (fs_meth_es_confirmation == "dontknow")%} {# biophy and econo first #}
{% set aspect = "supply" %}


{# Demand only #}
{% elif (fs_meth_es_measure_34c.esdemand in ["yes", "maybe"]) and (fs_meth_es_measure_34c.essupply in ["no", "dontknow", ""]) and (fs_meth_es_measure_34c.esuse in ["no", "dontknow", ""]) %} {# biophy and econo first #}
{% set aspect = "demand" %}


{# Use only #}
{% elif (fs_meth_es_measure_34c.esuse in ["yes", "maybe"]) and (fs_meth_es_measure_34c.essupply in ["no", "dontknow", ""]) and (fs_meth_es_measure_34c.esdemand in ["no", "dontknow", ""]) %} {# biophy and econo first #}
{% set aspect = "demand" %}


{# Supply and Demand #}
{% elif (fs_meth_es_measure_34c.esdemand in ["yes", "maybe"]) and (fs_meth_es_measure_34c.essupply in ["yes", "maybe"]) and (fs_meth_es_measure_34c.esuse in ["no", "dontknow", ""]) %} {# biophy and econo first #}
{% set aspect = "supply and demand" %}


{# Supply and Use #}
{% elif (fs_meth_es_measure_34c.esdemand in ["no", "dontknow", ""]) and (fs_meth_es_measure_34c.essupply in ["yes", "maybe"]) and (fs_meth_es_measure_34c.esuse in ["yes", "maybe"]) %} {# biophy and econo first #}
{% set aspect = "supply and demand" %}

{# Demand and Use #}
{% elif (fs_meth_es_measure_34c.esdemand in ["yes", "maybe"]) and (fs_meth_es_measure_34c.essupply in ["no", "dontknow", ""]) and (fs_meth_es_measure_34c.esuse in ["yes", "maybe"]) %} {# biophy and econo first #}
{% set aspect = "use and demand" %}


{# Supply, Use and Demand #}
{% elif (fs_meth_es_measure_34c.esdemand in ["yes", "maybe"]) and (fs_meth_es_measure_34c.essupply in ["yes", "maybe"]) and (fs_meth_es_measure_34c.esuse in ["yes", "maybe"]) %} {# biophy and econo first #}
{% set aspect = "supply, use and demand" %}


{# Undetermined #}
{% elif (fs_meth_es_measure_34c.essupply in ["no", "dontknow", ""]) and (fs_meth_es_measure_34c.esdemand in ["no", "dontknow", ""]) and (fs_meth_es_measure_34c.esuse in ["no", "dontknow", ""]) and (fs_meth_es_confirmation == "sure")%} {# biophy and econo first #}
{% set aspect = "***[text to be added by the Commissionner]***" %}

{% endif %}


{# Sustainability #}
{% if (fs_meth_sust_34f == "yes")  or (fs_meth_sust_confirmation == "no") %} {# biophy and econo first #}
{% set sustainability = "The assessment should also evaluate the sustainable " ~ aspect ~ " of the(these) service(s), to ***[text to be added by the Commissioner if relevant: specify why sustainability is important for the decision-making within which the assessment fits]***" %}

{% elif fs_meth_sust_34f == "maybe"  %} {# biophy and econo first #}
{% set sustainability = "The assessment might also evaluate the sustainable " ~ aspect ~ " of the(these) service(s), to ***[text to be added by the Commissioner if relevant: should specify why sustainability is important for the decision-making within which the assessment fits]***" %}

{% elif fs_meth_sust_confirmation in ["yes", "dontknow"]  %} {# biophy and econo first #}
{% set sustainability = "" %}

{% endif %}



{# Both biophy and econo #}

{% if (fs_meth_biophy_34a in ["yes", "maybe"]) and (fs_meth_econo_34b == "yes") %} {# biophy and econo first #}
#### 1.3.3 Valuation of ecosystem services

The assessment should measure the {{aspect}} of the ecosystem service(s) of interest in biophysical terms and report their economic value in monetary terms. {{sustainability | safe}}

{% elif (fs_meth_biophy_34a in ["yes", "maybe"]) and (fs_meth_econo_34b == "maybe") %} {# biophy and econo first #}
#### 1.3.3 Valuation of ecosystem services

The assessment should measure the {{aspect}} of the ecosystem service(s) of interest in biophysical terms and might report their economic value in monetary terms. {{sustainability | safe}}

{% elif (fs_meth_biophy_confirmation == "no") and (fs_meth_econo_confirmation == "no") %} {# biophy and econo first #}
#### 1.3.3 Valuation of ecosystem services

The assessment should measure the {{aspect}} of the ecosystem service(s) of interest in biophysical terms and report their economic value in monetary terms. {{sustainability | safe}}

{% elif (fs_meth_econo_confirmation in ["no", "dontknow"]) and (fs_meth_econo_34b  =="yes") %} {# biophy and econo first #}
#### 1.3.3 Valuation of ecosystem services

The assessment should measure the {{aspect}} of the ecosystem service(s) of interest in biophysical terms and report their economic value in monetary terms. {{sustainability | safe}}

{% elif (fs_meth_econo_confirmation in ["no", "dontknow"]) and (fs_meth_econo_34b  == "maybe") %} {# biophy and econo first #}
#### 1.3.3 Valuation of ecosystem services

The assessment should measure the {{aspect}} of the ecosystem service(s) of interest in biophysical terms and might report their economic value in monetary terms. {{sustainability | safe}}

{% elif (fs_meth_biophy_34a == "maybe") and (fs_meth_econo_confirmation == "no") %} {# biophy and econo first #}
#### 1.3.3 Valuation of ecosystem services

The assessment should measure the {{aspect}} of the ecosystem service(s) of interest in biophysical terms and report their economic value in monetary terms. {{sustainability | safe}}


{# Biophy only #}

{% elif (fs_meth_biophy_34a == "yes") and (fs_meth_econo_confirmation in ["yes", "dontknow"]) %} {# biophy and econo first #}
#### 1.3.3 Valuation of ecosystem services

The assessment should measure the {{aspect}} of the ecosystem service(s) of interest in biophysical terms. {{sustainability | safe}}

{% elif (fs_meth_biophy_confirmation == "yes") and (fs_meth_econo_confirmation == "dontknow") %} {# biophy and econo first #}
#### 1.3.3 Valuation of ecosystem services

The assessment should measure the {{aspect}} of the ecosystem service(s) of interest in biophysical in monetary terms. {{sustainability | safe}}

{% elif (fs_meth_biophy_confirmation in ["no", "dontknow"]) and (fs_meth_econo_confirmation == ["yes", "dontknow"]) %} {# biophy and econo first #}
#### 1.3.3 Valuation of ecosystem services

The assessment should measure the {{aspect}} of the ecosystem service(s) of interest in biophysical terms. {{sustainability | safe}}



{# Econo only #}

{% elif (fs_meth_econo_confirmation == "yes") and (fs_meth_econo_34b == "yes") %} {# biophy and econo first #}
#### 1.3.3 Valuation of ecosystem services

The assessment should measure the {{aspect}} of the economic value of the ecosystem service(s) of interest in monetary terms. {{sustainability | safe}}

{% elif (fs_meth_biophy_confirmation == "yes") and (fs_meth_econo_confirmation == "no") %} {# biophy and econo first #}
#### 1.3.3 Valuation of ecosystem services

The assessment should measure the {{aspect}} of the economic value of the ecosystem service(s) of interest in monetary terms. {{sustainability | safe}}

{% endif %}



{# Social and health #}

{% if fs_meth_health_34e_1 in ["yes", "maybe"] %}
{# Determine focus of health #}
   {% if (fs_meth_health_34e.human_health in ["yes", "maybe"]) and (fs_meth_health_34e.animal_health in ["no", "dontknow", ""]) and (fs_meth_health_34e.plant_health in ["no", "dontknow", ""]) and (fs_meth_health_34e.one_health in ["no", "dontknow", ""]) %} {# Human health only #}
   {% set health_focus = "human health" %}

   {% elif (fs_meth_health_34e.animal_health in ["yes", "maybe"]) and (fs_meth_health_34e.human_health in ["no", "dontknow", ""]) and (fs_meth_health_34e.plant_health in ["no", "dontknow", ""]) and (fs_meth_health_34e.one_health in ["no", "dontknow", ""]) %} {# Animal health only #}
   {% set health_focus = "animal health" %}

   {% elif fs_meth_health_34e.plant_health in ["yes", "maybe"] and (fs_meth_health_34e.human_health in ["no", "dontknow", ""]) and (fs_meth_health_34e.animal_health in ["no", "dontknow", ""]) and (fs_meth_health_34e.one_health in ["no", "dontknow", ""]) %} {# Plant health only #}
   {% set health_focus = "plant health" %}

   {% elif (fs_meth_health_34e.one_health in ["yes", "maybe"]) %} {# One health only #}
   {% set health_focus = "One Health" %}

   {% elif (fs_meth_health_34e.human_health in ["yes", "maybe"]) and (fs_meth_health_34e.animal_health in ["yes", "maybe"]) and (fs_meth_health_34e.plant_health in ["yes", "maybe"]) %} {# One health only #}
   {% set health_focus = "One Health" %}

   {% elif (fs_meth_health_34e.human_health in ["yes", "maybe"]) and (fs_meth_health_34e.animal_health in ["yes", "maybe"]) and (fs_meth_health_34e.plant_health in ["no", "dontknow", ""]) and (fs_meth_health_34e.one_health in ["no", "dontknow", ""]) %} {# human and animal only #}
   {% set health_focus = "human and animal health" %}

   {% elif (fs_meth_health_34e.human_health in ["yes", "maybe"]) and (fs_meth_health_34e.animal_health in ["no", "dontknow", ""]) and (fs_meth_health_34e.plant_health in ["yes", "maybe"]) and (fs_meth_health_34e.one_health in ["no", "dontknow", ""]) %} {# human and plant only #}
   {% set health_focus = "human and plant health" %}

   {% elif (fs_meth_health_34e.human_health in ["no", "dontknow", ""]) and (fs_meth_health_34e.animal_health in ["yes", "maybe"]) and (fs_meth_health_34e.plant_health in ["yes", "maybe"]) and (fs_meth_health_34e.one_health in ["no", "dontknow", ""]) %} {# plant and animal only #}
   {% set health_focus = "plant and animal health" %}

   {% elif (fs_meth_health_confirmation == "no") and (fs_meth_health_34e.human_health == "no") and (fs_meth_health_34e.animal_health == "no") and (fs_meth_health_34e.plant_health == "no") and (fs_meth_health_34e.one_health == "no") %} {# undetermined only #}
   {% set health_focus = "***[the health focus has not be specific, text to be completed by the Commissioner]***" %}

   {% endif %}
{% endif %}



{# Social benefits and Health #}
{% if ((fs_meth_social_34d in ["yes", "maybe"]) or (fs_meth_social_confirmation == "no")) and ((fs_meth_health_34e_1 in ["yes", "maybe"]) or (fs_meth_health_confirmation == "no"))%}
In this assessment, we are also interested in the health and social values of the ecosystem service(s) of interest. By health we more specifically refer to the relevance of the service(s) towards {{health_focus}}. These should be measured using relevant metrics. More details are provided in the Methodology section of this document.

{# Social benefits only #}
{% elif ((fs_meth_social_34d in ["yes", "maybe"]) or (fs_meth_social_confirmation == "no")) and (fs_meth_health_confirmation in ["yes", "dontknow"]) %}
In this assessment, we are also interested in the social value of the ecosystem service(s) of interest. This should be measured using relevant metrics. More details are provided in the Methodology section of this document.

{# Health only #}
{% elif (fs_meth_health_34e_1 in ["yes", "maybe"]) or (fs_meth_health_confirmation == "no") and (fs_meth_social_confirmation in ["yes", "dontknow"])%}
In this assessment, we are also interested in the value of the ecosystem service(s) of interest in terms of their relevance to health. By health we more specifically refer to {{health_focus}}. This should be measured using relevant metrics. More details are provided in the Methodology section of this document.

{% endif %}



{# Condition #}
{% if (fs_meth_cond_34g in ["yes", "maybe"]) or (fs_meth_cond_confirmation == "no") %}
Finally, the assessment should include an evaluation of the condition of the ecosystem(s) providing the ecosystem service(s) of interest.

{% endif %}




{# 1.3.4 Scenarios #}
{% if (fs_meth_scenario_35a in ["yes", "maybe"]) or (fs_meth_scenario_confirmation == "no") %} {# Scenarios #}
#### 1.3.4 Scenarios

The ecosystem service assessment should include a scenario analysis to ***[if possible, the Commissioner should describe the reason(s) why a scenario analysis should be conducted]***.

{% endif %}




{# 1.4 Stakeholder Engagement #}

{% if (fs_stake_involv_4b in ["yes", "maybe"] or fs_meth_stakeholder_confirmation == "no") and (fs_stake_analysis_4a in ["yes", "maybe"]) and fs_stake_id_4c %} {# Stakeholders #}
### 1.4 Stakeholder Engagement

Stakeholders are expected to be involved throughout the ecosystem service assessment. Prior to starting the assessment, the applicant will be asked to conduct a detailed stakeholder analysis to identify the key stakeholders that will be involved in the development of the project. Key stakeholders who could be involved are {{fs_stake_id_4c}}.

{% elif (fs_stake_involv_4b in ["yes", "maybe"] or fs_meth_stakeholder_confirmation == "no") and (fs_stake_analysis_4a in ["yes", "maybe"]) and (not fs_stake_id_4c) %} {# Stakeholders #}
### 1.4 Stakeholder Engagement

Stakeholders are expected to be involved throughout the ecosystem service assessment. Prior to starting the assessment, the applicant will be asked to conduct a detailed stakeholder analysis to identify the key stakeholders that will be involved in the development of the project.

{% elif (fs_stake_involv_4b in ["yes", "maybe"] or fs_meth_stakeholder_confirmation == "no") and (fs_stake_analysis_4a in ["no", "dontknow"] or (not fs_stake_analysis_4a)) and (not fs_stake_id_4c) %} {# Stakeholders #}
### 1.4 Stakeholder Engagement

Stakeholders are expected to be involved throughout the ecosystem service assessment. The choice of the key stakeholders to be involved is left to the Contractor. In their proposal, the Contractor shall explain the main reason for choosing a particular stakeholder.

{% elif (fs_stake_involv_4b in ["yes", "maybe"] or fs_meth_stakeholder_confirmation == "no") and  ((fs_stake_analysis_4a in ["no", "dontknow"]) or (not fs_stake_analysis_4a)) and fs_stake_id_4c %} {# Stakeholders #}
### 1.4 Stakeholder Engagement

Stakeholders are expected to be involved throughout the ecosystem service assessment. Key stakeholders who could be involved are {{fs_stake_id_4c}}.

{% endif %}




{% set main_section_counter = main_section_counter + 1 %}
## {{main_section_counter}} Methodology
{% set me_subsection_counter = me_subsection_counter + 1 %}
### 2.{{me_subsection_counter}}  Methodological characteristics

{# Economic valuation #}
{# Identify valuation method #}

{% if me_econ_valuation_11a %} {# Need to add this as if skipped, the variable is not in the output datasets and everything bugs #}
   {% if me_primary_valuation_condition in ["yes"]%}
   {% set val_meth_list = [] %}

      {% if me_valuation_methods.rev_prev in ["yes", "maybe"] %}
      {% set val_meth_list = val_meth_list + ["Revealed prefence methods"] %}
      {% endif %}

      {% if me_valuation_methods.stat_pref in ["yes", "maybe"] %}
      {% set val_meth_list = val_meth_list + ["Stated preference methods"] %}
      {% endif %}

      {% if me_valuation_methods.mark_price in ["yes", "maybe"] %}
      {% set val_meth_list = val_meth_list + ["Market prices"] %}
      {% endif %}

      {% if me_valuation_methods.repl_cost in ["yes", "maybe"] %}
      {% set val_meth_list = val_meth_list + ["Replacement cost"] %}
      {% endif %}

      {% if me_valuation_methods.dam_cost in ["yes", "maybe"] %}
      {% set val_meth_list = val_meth_list + ["Damage cost avoided"] %}
      {% endif %}

      {% if me_valuation_methods.soc_cost in ["yes", "maybe"] %}
      {% set val_meth_list = val_meth_list + ["Social cost of carbon"] %}
      {% endif %}

      {% if me_valuation_methods.net_fact in ["yes", "maybe"] %}
      {% set val_meth_list = val_meth_list + ["Net factor income"] %}
      {% endif %}

      {% if me_valuation_methods.prod_fn in ["yes", "maybe"] %}
      {% set val_meth_list = val_meth_list + ["Production function"] %}
      {% endif %}

      {% if me_valuation_methods.hed_pric in ["yes", "maybe"] %}
      {% set val_meth_list = val_meth_list + ["Hedonic pricing"] %}
      {% endif %}

      {% if me_valuation_methods.trav_cost in ["yes", "maybe"] %}
      {% set val_meth_list = val_meth_list + ["Travel cost method"] %}
      {% endif %}

      {% if me_valuation_methods.cont_val in ["yes", "maybe"] %}
      {% set val_meth_list = val_meth_list + ["Contingent valuation"] %}
      {% endif %}

      {% if me_valuation_methods.choice_mod in ["yes", "maybe"] %}
      {% set val_meth_list = val_meth_list + ["Choice modelling"] %}
      {% endif %}

      {% if me_valuation_methods.other in ["yes", "maybe"] %}
      {% set val_meth_list = val_meth_list + [other_valuation] %}
      {% endif %}

   {% endif %}

{% endif %}

{# Economic valuation ToR text #}

{# No methods #}
{% if me_expertise_needed_1 == "no" %} {# I need to cut in 2 conditions instead of one as me_expertise_needed_1 is mandatory and if no, the other questions are skipped. So it bugs if I keep the names of the variables #}
{% set meth_subsection_counter = meth_subsection_counter + 1 %}
#### 2.1.{{meth_subsection_counter}} Economic valuation

The choice of the valuation method(s) to be applied is left to the Contractor. In their proposal, the Contractor shall justify their choice(s) in regards to the decision-making and context of the assessment, as well as the data availability.
{% endif %}


{# Methods #}
{% if me_expertise_needed_1 == "yes" %}

{# Single method valuation methods #}
{# Transfer methods only #}

   {% if (me_econ_valuation_11a.value_trans and me_econ_valuation_11a.value_trans in ["yes", "maybe"]) and (me_econ_valuation_11a.prim in ["no", "dontknow"] or (not me_econ_valuation_11a.prim)) %}
   {% set meth_subsection_counter = meth_subsection_counter + 1 %}
#### 2.1.{{meth_subsection_counter}} Economic valuation

   The study should design and apply value transfer methods to estimate the economic value of each identified ecosystem service. Transferred values should be adjusted to reflect the characteristics of the study site in terms of ecosystem extent, condition, population of beneficiaries and income level. This could involve the use of available databases of ecosystem service values and / or the use of published value transfer functions.
   {% endif %}


{# Primary methods only #}
   {% if ((not me_econ_valuation_11a.value_trans) or me_econ_valuation_11a.value_trans in ["no", "dontknow"]) and (me_primary_valuation_condition in ["yes"]) %}
   {% set meth_subsection_counter = meth_subsection_counter + 1 %}
#### 2.1.{{meth_subsection_counter}} Economic valuation

   The study should design and apply primary valuation methods to estimate the economic value of each identified ecosystem service. Preferrence is given to: {{ join_natural(val_meth_list) }}.

   {% endif %}

   {% if ((not me_econ_valuation_11a.value_trans) or me_econ_valuation_11a.value_trans in ["no", "dontknow"]) and (me_econ_valuation_11a.prim and me_econ_valuation_11a.prim in ["maybe"]) %}
   {% set meth_subsection_counter = meth_subsection_counter + 1 %}
#### 2.1.{{meth_subsection_counter}} Economic valuation

   The study should design and apply primary valuation methods to estimate the economic value of each identified ecosystem service. The choice of the method(s) is left to the Contractor.

   {% endif %}

   {% if ((not me_econ_valuation_11a.value_trans) or me_econ_valuation_11a.value_trans in ["no", "dontknow"]) and (me_primary_valuation_condition in ["no"]) %}
   {% set meth_subsection_counter = meth_subsection_counter + 1 %}
#### 2.1.{{meth_subsection_counter}} Economic valuation

   The study should design and apply primary valuation methods to estimate the economic value of each identified ecosystem service. The choice of the method(s) is left to the Contractor.

   {% endif %}



{# Both valuation methods #}
   {% if (me_econ_valuation_11a.value_trans in ["yes", "maybe"]) and (me_primary_valuation_condition in ["yes"]) %}
   {% set meth_subsection_counter = meth_subsection_counter + 1 %}
#### 2.1.{{meth_subsection_counter}} Economic valuation

   The study should design and apply both value transfer methods and primary valuation methods to estimate the economic value of each identified ecosystem service.

   **For value transfer methods**, transferred values should be adjusted to reflect the characteristics of the study site in terms of ecosystem extent, condition, population of beneficiaries and income level. This could involve the use of available databases of ecosystem service values and / or the use of published value transfer functions.

   **For primary valuation methods**, preferrence is given to: {{ join_natural(val_meth_list) }}.

   {% endif %}

   {% if (me_econ_valuation_11a.value_trans in ["yes", "maybe"]) and (me_econ_valuation_11a.prim in ["maybe"] or me_primary_valuation_condition in ["no"]) %}
   {% set meth_subsection_counter = meth_subsection_counter + 1 %}
#### 2.1.{{meth_subsection_counter}} Economic valuation

   The study should design and apply both value transfer methods and primary valuation methods to estimate the economic value of each identified ecosystem service.

   **For value transfer methods**, transferred values should be adjusted to reflect the characteristics of the study site in terms of ecosystem extent, condition, population of beneficiaries and income level. This could involve the use of available databases of ecosystem service values and / or the use of published value transfer functions.

   **For primary valuation methods**, the choice of the method(s) is left to the Contractor.

   {% endif %}

{# Other #}
   {% if me_econ_valuation_11a.value_trans == "no" and me_econ_valuation_11a.prim == "no" %}
   {% set meth_subsection_counter = meth_subsection_counter + 1 %}
#### 2.1.{{meth_subsection_counter}} Economic valuation

   The study should design and apply {{other_valuation}} to estimate the economic value of each identified ecosystem service.

   {% endif %}


{# Don't know #}
   {% if (me_econ_valuation_11a.value_trans == "dontknow" or not me_econ_valuation_11a.value_trans) and (me_econ_valuation_11a.prim == "dontknow" or not me_econ_valuation_11a.prim) %}
   {% set meth_subsection_counter = meth_subsection_counter + 1 %}
#### 2.1.{{meth_subsection_counter}} Economic valuation

The choice of the valuation method(s) to be applied is left to the Contractor. In their proposal, the Contractor shall justify their choice(s) in regards to the decision-making and context of the assessment, as well as the data availability.
   {% endif %}

{% endif %}


{# Economic indicators #}
{% if me_econo_id %}
In addition, the results of the assessment should measure the contribution of the ecosystem service(s) of interest to the economic development of the area of interest. Particular economic indicators of interest are {{me_econo_id}}.

{% elif (me_econ_dev_11b in ["yes", "maybe"]) and me_econo_id == "" %}
In addition, the results of the assessment should measure the contribution of the ecosystem service(s) of interest to the economic development of the area of interest. The choice of the economic indicators are left to the Contrator. In their proposal, the Contractor should clearly describe and justify the economic indicators that will be used, with regards to the decision-making and purpose of the assessment.
{% endif %}

{% if me_econ_valuation_11a %}
The Contractor may deviate from the suggestions described above. In that case, the Contractor shall describe and justify the new approach in relation to the decision-making and purpose of the assessment, as well as the data availability if relevant.
{% endif %}







{# Sustainability and condition #}

{# Sustainable levels only #}
{% if fs_meth_sust_34f in ["yes", "maybe"] or fs_meth_es_confirmation == "no" or fs_meth_cond_34g in ["yes", "maybe"] or fs_meth_cond_confirmation == "no" %} {# Put this so if the section is skipped, it still renders #}
{% if me_expertise_needed == "yes" %}

  {% set cond_idx = [] %}

  {% if me_ecos_cond_12c.general_cond_idx in ["yes", "maybe"] %}
    {% set cond_idx = cond_idx + ["a general condition index"] %}
  {% endif %}

  {% if me_ecos_cond_12c.sp_idx in ["yes", "maybe"] %}
    {% set cond_idx = cond_idx + ["species biotic indicators"] %}
  {% endif %}

  {% if me_ecos_cond_12c.structure_idx in ["yes", "maybe"] %}
    {% set cond_idx = cond_idx + ["structure biotic indicators"] %}
  {% endif %}

  {% if me_ecos_cond_12c.fn_idx in ["yes", "maybe"] %}
    {% set cond_idx = cond_idx + ["function biotic indicators"] %}
  {% endif %}

  {% if me_ecos_cond_12c.phy_idx in ["yes", "maybe"] %}
    {% set cond_idx = cond_idx + ["physical abiotic indicators"] %}
  {% endif %}

  {% if me_ecos_cond_12c.chem_idx in ["yes", "maybe"] %}
    {% set cond_idx = cond_idx + ["chemical abiotic indicators"] %}
  {% endif %}

  {% if me_ecos_cond_12c.landscape_idx in ["yes", "maybe"] %}
    {% set cond_idx = cond_idx + ["landscape-level characteristics indicators"] %}
  {% endif %}
{% endif %}


{# For condition alone #}

{% if me_eco_con_12a in ["yes", "maybe"] and (not me_sust_level_12b or me_sust_level_12b in ["", "no", "dontknow"])%}
{% set meth_subsection_counter = meth_subsection_counter + 1 %}

   {% if me_expertise_needed == "no" %}
#### 2.1.{{meth_subsection_counter}} Sustainability and condition

   The ecosystem service assessment should include analyses to highlight and understand the influence of ecosystem condition on the {{aspect}} of the ecosystem service(s) of interest. The choice of the appropriate condition indicator(s) is left to the Contractor. In their proposal, the Contractor shall clearly describe and justify their choices of indicators and methodology in relation to the decicion-making context and purpose, as well as the data availability and / or quality.

   {% elif me_expertise_needed == "yes"%}
#### 2.1.{{meth_subsection_counter}} Sustainability and condition

   The ecosystem service assessment should include analyses to highlight and understand the influence of ecosystem condition on the {{aspect}} of the ecosystem service(s) of interest. The condition indicators of relevance are: {{ join_natural(cond_idx) }}.
   In their proposal, the Contractor may deviate from the indicators suggested above. In these cases, they will clearly describe and justify the methodology that will be used.
   {% endif %}

{% endif %}


{# For sustainability alone #}

{% if me_sust_level_12b in ["yes", "maybe"] and (not me_eco_con_12a or me_eco_con_12a in ["", "no", "dontknow"])%}
{% set meth_subsection_counter = meth_subsection_counter + 1 %}

#### 2.1.{{meth_subsection_counter}} Sustainability and condition

The ecosystem service assessment should define the sustainable levels for **[Commissioners to choose one of both: supply, use]** of the ecosystem service(s) of interest. In their proposal, the Contractor shall clearly describe and justify the methodology that will be used to identify and define these levels.
{% endif %}


{# For sustainability and condition #}
{% if me_eco_con_12a in ["yes", "maybe"] and me_sust_level_12b in ["yes", "maybe"]%}
{% set meth_subsection_counter = meth_subsection_counter + 1 %}

   {% if me_expertise_needed == "no" %}
#### 2.1.{{meth_subsection_counter}} Sustainability and condition

   The ecosystem service assessment should include analyses to highlight and understand the influence of ecosystem condition on the {{aspect}} of the ecosystem service(s) of interest. The assessment will use then the results on condition to define the sustainable levels for **[Commissioners to choose one of both: supply, use]** of the ecosystem service(s) of relevance.
   The choice of the appropriate condition indicator(s) is left to the Contractor. In their proposal, the Contractor shall clearly describe and justify their choices of indicators and methodology in relation to the decision-making context and purpose, as well as the data availability and / or quality.

   {% elif me_expertise_needed == "yes"%}
#### 2.1.{{meth_subsection_counter}} Sustainability and condition

   The ecosystem service assessment should include analyses to highlight and understand the influence of ecosystem condition on the {{aspect}} of the ecosystem service(s) of interest. The assessment will use then the results on condition to define the sustainable levels for **[Commissioners to choose one of both: supply, use]** of the ecosystem service(s) of relevance.

   The condition indicators of relevance are: {{ join_natural(cond_idx) }}.
   In their proposal, the Contractor may deviate from the indicators suggested above. In these cases, they will clearly describe and justify the methodology that will be used.
   {% endif %}
{% endif %}
{% endif %}




{# Social characteristics #}
{% if me_soc_groups_13a or me_soc_groups_13b %}
{% if me_soc_groups_13a in ["yes", "maybe"] and me_soc_groups_13b in ["no", "dontknow"] %}
{% set meth_subsection_counter = meth_subsection_counter + 1 %}

#### 2.1.{{meth_subsection_counter}} Social characteristics

The ecosystem service assessment should measure the distribution of the ecosystem service(s) of interest by social groups or variables (e.g. income, age, gender). Dependency(ies) on and / or access(es) to ecosystem services should be clearly reported using measurable indicators (e.g., demand, proximity, frequency use, and availability) to identify which groups face the greatest barriers or are most dependent on specific ecosystem services. In their proposal, the Contractor shall clearly describe and justify the methodology (including indicators and metrics) that will be used.

{% elif me_soc_groups_13a in ["no", "dontknow"] and me_soc_groups_13b in ["yes", "maybe"] %}
{% set meth_subsection_counter = meth_subsection_counter + 1 %}

#### 2.1.{{meth_subsection_counter}} Social characteristics

The ecosystem service assessment should report the attitudes, perceptions, and values of social groups towards the ecosystem service(s) of interest. The results should lead to deliver actionable insights based on stakeholder preference. In their proposal, the Contractor shall clearly describe and justify the methodology that will be used.

{% elif me_soc_groups_13a in ["yes", "maybe"] and me_soc_groups_13b in ["yes", "maybe"] %}
{% set meth_subsection_counter = meth_subsection_counter + 1 %}

#### 2.1.{{meth_subsection_counter}} Social characteristics

The ecosystem service assessment should include social aspects in two different ways:

- measure the distribution of the ecosystem service(s) of interest by social groups or variables (e.g. income, age, gender). Dependency(ies) on and / or access(es) to ecosystem services should be clearly reported using measurable indicators (e.g., demand, proximity, frequency use, and availability) to identify which groups face the greatest barriers or are most dependent on specific ecosystem services.

- report the attitudes, perceptions, and values of these social groups towards the ecosystem service(s) of interest.

In their proposal, the Contractor shall clearly describe and justify the methodology (including indicators and metrics) that will be used.

{% endif %}
{% endif %}




{# Health characteristics #}
{% if fs_meth_health_34e_1 in ["yes","maybe"] or fs_meth_health_confirmation == "no"  %}
{% set health_aspect = [] %}

{% if me_health_aspects_14a.h_benefits in ["yes", "maybe"] %}
   {% set health_aspect = health_aspect + ["health benefits"] %}
{% endif %}

{% if me_health_aspects_14a.h_risks in ["yes", "maybe"] %}
 {% set health_aspect = health_aspect + ["health risks"] %}
{% endif %}

{% if me_health_aspects_14a.h_outcomes in ["yes", "maybe"] %}
   {% set health_aspect = health_aspect + ["health outcomes"] %}
{% endif %}


{# Health dimensions alone #}
{% if (me_health_aspects_14a.h_risks in ["yes", "maybe"] or me_health_aspects_14a.h_benefits in ["yes", "maybe"] or me_health_aspects_14a.h_outcomes in ["yes", "maybe"]) and me_health_social_14b in ["no", "dontknow"] and me_health_eco_14c in ["no", "dontknow"]%}
{% set meth_subsection_counter = meth_subsection_counter + 1 %}

#### 2.1.{{meth_subsection_counter}} Health characteristics


The ecosystem service assessment should consider the health dimension. In particular it should include an evaluation of {{ join_natural(health_aspect) }}.

{% elif (me_health_aspects_14a.h_risks in ["no", "dontknow"] or not me_health_aspects_14a.h_risks) and (me_health_aspects_14a.h_benefits in ["no", "don't know"] or not me_health_aspects_14a.h_benefits) and (me_health_aspects_14a.h_outcomes in ["no", "dontknow"] or me_health_aspects_14a.h_outcomes) and me_health_social_14b in ["no", "dontknow"] and me_health_eco_14c in ["no", "dontknow"]%}
{% set meth_subsection_counter = meth_subsection_counter + 1 %}

#### 2.1.{{meth_subsection_counter}} Health characteristics

The ecosystem service assessment should consider the health dimension. The choice of the appropriate health dimension(s) and their associated indicators is left to the Contractor. In their proposal, the Contractor shall clearly describe and justify the methodology (including indicators and metrics) that will be used.

{% endif %}




{# Health dimensions and attitudes #}

{% if (me_health_aspects_14a.h_risks in ["yes", "maybe"] or  me_health_aspects_14a.h_benefits in ["yes", "maybe"] or me_health_aspects_14a.h_outcomes in ["yes", "maybe"]) and me_health_social_14b in ["yes", "maybe"] and me_health_eco_14c in ["no", "dontknow"]%}
{% set meth_subsection_counter = meth_subsection_counter + 1 %}

#### 2.1.{{meth_subsection_counter}} Health characteristics

The ecosystem service assessment should consider the health dimension. In particular it should include an evaluation of {{ join_natural(health_aspect) }}.

The ecosystem service assessment should capture social groups' attitudes, perceptions, and values toward specific ecosystem services of relevance to the health dimension(s) defined above, focusing on their social, cultural, and economic importance.

{% elif ((me_health_aspects_14a.h_risks in ["no", "dontknow"] or not me_health_aspects_14a.h_risks) and (me_health_aspects_14a.h_benefits in ["no", "don't know"] or not me_health_aspects_14a.h_benefits) and (me_health_aspects_14a.h_outcomes in ["no", "dontknow"] or me_health_aspects_14a.h_outcomes)) and me_health_social_14b in ["yes", "maybe"] and me_health_eco_14c in ["no", "dontknow"] %}
{% set meth_subsection_counter = meth_subsection_counter + 1 %}

#### 2.1.{{meth_subsection_counter}} Health characteristics

The ecosystem service assessment should capture social groups' attitudes, perceptions, and values toward specific ecosystem services of relevance to health, focusing on their social, cultural, and economic importance.

The choice of the appropriate health dimension(s) and their associated indicators is left to the Contractor. In their proposal, the Contractor shall clearly describe and justify the methodology (including indicators and metrics) that will be used.
{% endif %}


{# Health dimensions and ES/ET links #}

{% if (me_health_aspects_14a.h_risks in ["yes", "maybe"] or  me_health_aspects_14a.h_benefits in ["yes", "maybe"] or me_health_aspects_14a.h_outcomes in ["yes", "maybe"]) and me_health_social_14b in ["no", "dontknow"] and me_health_eco_14c in ["yes", "maybe"]%}
{% set meth_subsection_counter = meth_subsection_counter + 1 %}

#### 2.1.{{meth_subsection_counter}} Health characteristics

The ecosystem service assessment should consider the health dimension. In particular it should include an evaluation of {{ join_natural(health_aspect) }}.

In this assessment, we are interested in identifying linkages between the health dimension(s) described above and the ecosystem services and / or types. The strength, direction and / or sustainability of these linkages should also be clearly highlighted and described. In their proposal, the Contractor shall clearly describe and justify the methodology (including indicators and metrics) that will be used.


{% elif ((me_health_aspects_14a.h_risks in ["no", "dontknow"] or not me_health_aspects_14a.h_risks) and (me_health_aspects_14a.h_benefits in ["no", "don't know"] or not me_health_aspects_14a.h_benefits) and (me_health_aspects_14a.h_outcomes in ["no", "dontknow"] or me_health_aspects_14a.h_outcomes)) and me_health_social_14b in ["no", "dontknow"] and me_health_eco_14c in ["yes", "maybe"]%}
{% set meth_subsection_counter = meth_subsection_counter + 1 %}

#### 2.1.{{meth_subsection_counter}} Health characteristics

The ecosystem service assessment should consider the health dimension. In this assessment, we are interested in idenfitying linkages between the health dimension(s) described above and the ecosystem services and / or types. The strength, direction and / or sustainability of these linkages should also be clearly highlighted and described.

The choice of the appropriate health dimension(s) and their associated indicators is left to the Contractor. In their proposal, the Contractor shall clearly describe and justify the methodology (including indicators and metrics) that will be used.

{% endif %}



{# Health dimensions and attidtudes and ES/ET links #}

{% if (me_health_aspects_14a.h_risks in ["yes", "maybe"] or  me_health_aspects_14a.h_benefits in ["yes", "maybe"] or me_health_aspects_14a.h_outcomes in ["yes", "maybe"]) and me_health_social_14b in ["yes", "maybe"] and me_health_eco_14c in ["yes", "maybe"]%}
{% set meth_subsection_counter = meth_subsection_counter + 1 %}

#### 2.1.{{meth_subsection_counter}} Health characteristics

The ecosystem service assessment should consider the health dimension. In particular it should include an evaluation of {{ join_natural(health_aspect) }}.

In this assessment, we are interested to:

- capture social groups' attitudes, perceptions, and values toward specific ecosystem services of relevance to the health dimension(s) defined above, focusing on their social, cultural, and economic importance.

- identify linkages between the health dimension(s) described above and the ecosystem services and / or types. The strength, direction and / or sustainability of these linkages should also be clearly highlighted and described.

In their proposal, the Contractor shall clearly describe and justify the methodology (including indicators and metrics) that will be used.


{% elif ((me_health_aspects_14a.h_risks in ["no", "dontknow"] or not me_health_aspects_14a.h_risks) and (me_health_aspects_14a.h_benefits in ["no", "don't know"] or not me_health_aspects_14a.h_benefits) and (me_health_aspects_14a.h_outcomes in ["no", "dontknow"] or me_health_aspects_14a.h_outcomes)) and me_health_social_14b in ["yes", "maybe"] and me_health_eco_14c in ["yes", "maybe"]%}
{% set meth_subsection_counter = meth_subsection_counter + 1 %}

#### 2.1.{{meth_subsection_counter}} Health characteristics

The ecosystem service assessment should consider the health dimension. In this assessment, we are interested to:

- capture social groups' attitudes, perceptions, and values toward specific ecosystem services of relevance to the health dimension(s) defined above, focusing on their social, cultural, and economic importance.

- identify linkages between the health dimension(s) described above and the ecosystem services and / or types. The strength, direction and / or sustainability of these linkages should also be clearly highlighted and described.

The choice of the appropriate health dimension(s) and their associated indicators is left to the Contractor. In their proposal, the Contractor shall clearly describe and justify the methodology (including indicators and metrics) that will be used.

{% endif %}

{% endif %}




{# Relationships between ecosystem services #}
{% if me_eco_relations_15a in ["yes", "maybe"] %}
{% set meth_subsection_counter = meth_subsection_counter + 1 %}

   {% if (me_eco_relations_15b.inter_es in ["no", "dontknow"] or not me_eco_relations_15b.inter_es) and (me_eco_relations_15b.inter_benef in ["no", "dontknow"] or not me_eco_relations_15b.inter_benef) and (me_eco_relations_15b.inter_es_benef in ["no", "dontknow", ""] or not me_eco_relations_15b.inter_es_benef) %}
#### 2.1.{{meth_subsection_counter}} Relationships between ecosystem services

   The ecosystem service assessment should identify and quantify the strength of potential interrelationships between the ecosystem service(s) of interest and / or benefits provided by ecosystem services. The choice of the most appropriate type of interrelationship(s): between ecosystem services, between benefits, or between ecosystem services and their benefits, is left to the Contractor.

   In their proposal, the Contractor shall clearly explain their choice of the interrelationship(s) that should be focused on in accordance to the decision-making context and purpose of the assessment. They will also describe and justify their methodology that will be used to identify and quantify these trade-offs and synergies.

   {% else %}
   {% set inter_aspects = [] %}

      {% if me_eco_relations_15b.inter_es in ["yes", "maybe"] %}
      {% set inter_aspects = inter_aspects + ["ecosystem services"] %}
      {% endif %}

      {% if me_eco_relations_15b.inter_benef in ["yes", "maybe"] %}
      {% set inter_aspects = inter_aspects + ["benefits"] %}
      {% endif %}

      {% if me_eco_relations_15b.inter_es_benef in ["yes", "maybe"] %}
         {% set inter_aspects = inter_aspects + ["ecosystem services and their benefits"] %}
      {% endif %}

   {% endif %}


#### 2.1.{{meth_subsection_counter}} Relationships between ecosystem services

   The ecosystem service assessment should identify and quantify the strength of potential interrelationships between the {{ join_natural(inter_aspects) }}.

   In their proposal, the Contractor shall clearly describe and justify the methodology that will be used to identify and quantify these trade-offs and synergies.

{% endif %}


{# Spatial and temporal characteristics #}
{% if me_spatial_benefits_16a in ["yes", "maybe"] or me_time_benefits_16b in ["yes", "maybe"] %}
{% set meth_subsection_counter = meth_subsection_counter + 1 %}
{% endif %}




{# Spatial and temporal characteristics #}
{% if me_spatial_benefits_16a.space_es in ["yes", "maybe"] or me_spatial_benefits_16a.space_benef in ["yes", "maybe"] or me_time_benefits_16b.time_es in ["yes", "maybe"] or me_time_benefits_16b.time_benef in ["yes", "maybe"] %}
{% set meth_subsection_counter = meth_subsection_counter + 1 %}

#### 2.1.{{meth_subsection_counter}} Spatial and temporal characteristics

{% set space_aspects = [] %}

      {% if me_spatial_benefits_16a.space_es in ["yes", "maybe"] %}
         {% set space_aspects = space_aspects + ["ecosystem services"] %}
      {% endif %}

      {% if me_spatial_benefits_16a.space_benef in ["yes", "maybe"] %}
      {% set space_aspects = space_aspects + ["benefits"] %}
      {% endif %}


{% set time_aspects = [] %}

      {% if me_time_benefits_16b.time_es in ["yes", "maybe"] %}
         {% set time_aspects = time_aspects + ["ecosystem services"] %}
      {% endif %}

      {% if me_time_benefits_16b.time_benef in ["yes", "maybe"] %}
      {% set time_aspects = time_aspects + ["benefits"] %}
      {% endif %}


{% endif %}


{# Spatial only #}

{% if me_spatial_benefits_16a.space_es in ["yes", "maybe"] and (not me_time_benefits_16b.time_es or me_time_benefits_16b.time_es in ["no", "dontknow"]) and (not me_time_benefits_16b.time_benef or me_time_benefits_16b.time_benef in ["no", "dontknow"])%}
The assessment should evaluate the spatial variations in the levels of {{aspect}} of the ecosystem service(s) of interest over the spatial extent and scales considered in this assessment. Results should highlight the trends and identify key drivers of change. In their proposal, the Contractor shall clearly describe and justify the methodology that will be used.

{% elif me_spatial_benefits_16a.space_benef in ["yes", "maybe"] and not me_time_benefits_16b.time_es and not me_time_benefits_16b.time_benef%}
The assessment should evaluate the spatial variations in the benefits of the ecosystem service(s) of interest over the spatial extent and scales considered in this assessment. Results should highlight the trends and identify key drivers of change. In their proposal, the Contractor shall clearly describe and justify the methodology that will be used.

{% elif me_spatial_benefits_16a.space_es in ["yes", "maybe"] and me_spatial_benefits_16a.space_benef in ["yes", "maybe"] and not me_time_benefits_16b.time_es and not me_time_benefits_16b.time_benef %}
The assessment should evaluate the spatial variations in the levels of {{aspect}} of the ecosystem service(s) of interest and their associated benefits over the spatial extent and scales considered in this assessment. Results should highlight the trends and identify key drivers of change. In their proposal, the Contractor shall clearly describe and justify the methodology that will be used.

{% endif %}


{# Temporal only #}
{% if (me_time_benefits_16b.time_es in ["yes", "maybe"]) and (not me_spatial_benefits_16a.space_es or me_spatial_benefits_16a.space_es in ["no", "dontknow"]) and (not me_spatial_benefits_16a.space_benef or me_spatial_benefits_16a.space_benef in ["no", "dontknow"]) %}
The assessment should evaluate the temporal variations in the levels of {{aspect}} of the ecosystem service(s) of interest over the time period and temporal scale(s) considered in this assessment. Results should highlight trends and identify key drivers of change. In their proposal, the Contractor shall clearly describe and justify the methodology that will be used.

{% elif (me_time_benefits_16b.time_benef in ["yes", "maybe"]) and (not me_spatial_benefits_16a.space_es  or me_spatial_benefits_16a.space_es in ["no", "dontknow"]) and (not me_spatial_benefits_16a.space_benef or me_spatial_benefits_16a.space_benef in ["no", "dontknow"]) and time_aspects == "benefits" %}
The assessment should evaluate the temporal variations in the benefits of the ecosystem service(s) of interest over the time period and temporal scale(s) considered in this assessment. Results should highlight trends and identify key drivers of change. In their proposal, the Contractor shall clearly describe and justify the methodology that will be used.

{% elif me_time_benefits_16b.time_es in ["yes", "maybe"] and me_time_benefits_16b.time_benef in ["yes", "maybe"] and (not me_spatial_benefits_16a.space_es  or me_spatial_benefits_16a.space_es in ["no", "dontknow"]) and (not me_spatial_benefits_16a.space_benef or me_spatial_benefits_16a.space_benef in ["no", "dontknow"]) %}
The assessment should evaluate the temporal variations in the levels of {{aspect}} of the ecosystem service(s) of interest and their associated benefits over the time period and temporal scale(s) considered in this assessment. Results should highlight trends and identify key drivers of change. In their proposal, the Contractor shall clearly describe and justify the methodology that will be used.

{% endif %}


{# Spatial and Temporal #}
{% if (me_spatial_benefits_16a.space_es in ["yes", "maybe"] or me_spatial_benefits_16a.space_benef in ["yes", "maybe"]) and (me_time_benefits_16b.time_es in ["yes", "maybe"] or me_time_benefits_16b.time_benef in ["yes", "maybe"]) and time_aspects == space_aspects %}
The assessment should evaluate the spatial and temporal variations in the levels of {{aspect}} of the ecosystem service(s) of interest and their associated benefits over the spatial extent and scale(s) as well as the time period and temporal scale(s) considered in this assessment. Results should highlight trends and identify key drivers of change. In their proposal, the Contractor shall clearly describe and justify the methodology that will be used.

{% elif (me_spatial_benefits_16a.space_es in ["yes", "maybe"] or me_spatial_benefits_16a.space_benef in ["yes", "maybe"]) and (me_time_benefits_16b.time_es in ["yes", "maybe"] or me_time_benefits_16b.time_benef in ["yes", "maybe"]) and not time_aspects == space_aspects %}

   {% if time_aspects == "ecosystem services" and (space_aspects == "ecosystem services" and  space_aspects == "benefits") %}
   The assessment should evaluate the spatial and temporal variations in the levels of {{aspect}} of the ecosystem service(s) of interest over the spatial extent and scale(s) as well as the time period and temporal scale(s) considered in this assessment. In addition, the spatial variations of the benefits of the ecosystem service(s) of relevance should also be assessed. Results should highlight trends and identify key drivers of change. In their proposal, the Contractor shall clearly describe and justify the methodology that will be used.

   {% elif time_aspects == "benefits" and (space_aspects == "ecosystem services" and  space_aspects == "benefits") %}
   The assessment should evaluate the spatial variations in the levels of {{aspect}} of the ecosystem service(s) of interest and their associated benefits over the spatial extent and scale(s) considered in this assessment. In addition, both the spatial and temporal variations of the benefits of the ecosystem service(s) of relevance should also be assessed. Results should highlight trends and identify key drivers of change. In their proposal, the Contractor shall clearly describe and justify the methodology that will be used.


   {% elif time_aspects == "ecosystem services" and space_aspects == "benefits" %}
   The assessment should evaluate the temporal variations in the levels of {{aspect}} of the ecosystem service(s) of interest over the time period and temporal scale(s) considered in this assessment. In addition, the spatial variations of the benefits of the ecosystem service(s) of relevance should also be assessed over the spatial extent and scale(s) defined in this assessment. Results should highlight trends and identify key drivers of change. In their proposal, the Contractor shall clearly describe and justify the methodology that will be used.


   {% elif time_aspects == "benefits" and space_aspects == "ecosystem services" %}
   The assessment should evaluate the spatial variations in the levels of {{aspect}} of the ecosystem service(s) of interest over the spatial extent and scale(s) considered in this assessment. In addition, the temporal variations of the benefits of the ecosystem service(s) of relevance should also be assessed over the time period and temporal scale(s) defined in this assessment. Results should highlight trends and identify key drivers of change. In their proposal, the Contractor shall clearly describe and justify the methodology that will be used.


   {% elif (time_aspects == "ecosystem services" and time_aspects == "benefits") and space_aspects == "ecosystem services" %}
   The assessment should evaluate the spatial and temporal variations in the levels of {{aspect}} of the ecosystem service(s) of interest over the spatial extent and scale(s) as well as the time period and temporal scale(s) considered in this assessment. In addition, the temporal variations of the benefits of the ecosystem service(s) of relevance should also be assessed over the time period and temporal scale(s) defined in this assessment. Results should highlight trends and identify key drivers of change. In their proposal, the Contractor shall clearly describe and justify the methodology that will be used.


   {% elif (time_aspects == "ecosystem services" and time_aspects == "benefits") and space_aspects == "benefits" %}
   The assessment should evaluate the temporal variations in the levels of {{aspect}} of the ecosystem service(s) of interest over the time period and temporal scale(s) considered in this assessment. In addition, both the temporal and spatial variations of the benefits of the ecosystem service(s) of relevance should also be assessed. Results should highlight trends and identify key drivers of change. In their proposal, the Contractor shall clearly describe and justify the methodology that will be used.


   {% endif %}


{% endif %}


{# Add recommandations or sustainability #}

{% if me_time_space_sustainability_16c and me_time_space_condition_16d %}
{% if me_time_space_sustainability_16c in ["yes", "maybe"] and me_time_space_condition_16d in ["no", "dontknow"] %}

The above mentioned variations will have to be specifically put in relation with sustainable {{aspect}}.

{% elif me_time_space_sustainability_16c in ["yes", "maybe"] and me_time_space_condition_16d in ["yes", "maybe"]%}

The above mentioned variations will have to be specifically put in relation with sustainable {{aspect}}. The assessment should also provide recommendations for maintaining or enhancing the {{aspect}} of the ecosystem service(s) of interest without negatively affecting the ecosystem condition.

{% elif me_time_space_sustainability_16c in ["no", "dontknow"] and me_time_space_condition_16d in ["yes", "maybe"]%}

The assessment should also provide recommendations for maintaining or enhancing the {{aspect}} of the ecosystem service(s) of interest without negatively affecting the ecosystem condition.

{% endif %}
{% endif %}




{# Scenarios #}
{% if fs_meth_scenario_35a in ["yes", "maybe"] or fs_meth_scenario_confirmation == "no" %}

{% if me_scenarios_17a|length > 0 %}
{% set meth_subsection_counter = meth_subsection_counter + 1 %}

#### 2.1.{{meth_subsection_counter}} Scenario(s) characteristics

The ecosystem service assessment should include a scenario analysis to ***[text to be added by the Commissioner if relevant: reason(s) why a scenario analysis should be conducted]***. The scenario(s) of relevance are defined as: {{me_scenarios_17a}}

In their proposal, the Contractor may deviate from the proposed scenarios described above. In this case, the Contractor shall clearly explain and justify the scenarios in regards to the decision-making context and the purpose of the assessment. The Contractor shall also describe the methodology that will be used.

{% elif (fs_meth_scenario_confirmation == "no" or fs_meth_scenario_35a in ["yes","maybe"]) and (me_scenarios_17a|length == 0 or not me_scenarios_17a ) %}

#### 2.1.{{meth_subsection_counter}} Scenario(s) characteristics

The ecosystem service assessment should include a scenario analysis to ***[text to be added by the Commissioner if relevant: reason(s) why a scenario analysis should be conducted]***. The cchoice of the scenarios of relevance is left to the Contractor. In their proposal, the Contractor shall clearly explain and justify the scenarios chosen in regards to the decision-making context and the purpose of the assessment, as well as describe the methodology that will be used.

{% endif %}
{% endif %}



{# Uncertainties #}
{% if me_uncertainties_2a in ["yes", "maybe"] or me_uncertainty_confirmation == "no" %}

{% set me_subsection_counter = me_subsection_counter + 1 %}
### 2.{{me_subsection_counter}} Uncertainties

{# List the format of uncertainties if you selected scenarios #}

{% if fs_meth_scenario_35a in ["yes", "maybe"] or fs_meth_scenario_confirmation == "no" %}

{% set uncertainties_format = [] %}

   {% if me_uncertainties_2b_dup.unc_report in ["yes", "maybe"] %}
   {% set uncertainties_format = uncertainties_format + ["a report section or separate report on uncertainty"] %}
   {% endif %}

   {% if me_uncertainties_2b_dup.unc_vis_sum in ["yes", "maybe"] %}
   {% set uncertainties_format = uncertainties_format + ["a visual summary"] %}
   {% endif %}

   {% if me_uncertainties_2b_dup.unc_dm_sum in ["yes", "maybe"] %}
   {% set uncertainties_format = uncertainties_format + ["a summary for decision-making"] %}
   {% endif %}

   {% if me_uncertainties_2b_dup.unc_scen in ["yes", "maybe"] %}
   {% set uncertainties_format = uncertainties_format + ["a scenario-based documentation"] %}
   {% endif %}

   {% if me_uncertainties_2b_dup.unc_par_doc in ["yes", "maybe"] %}
   {% set uncertainties_format = uncertainties_format + ["a participatory documentation"] %}
   {% endif %}

   {% if me_uncertainties_2b_dup.unc_tech_anx in ["yes", "maybe"] %}
   {% set uncertainties_format = uncertainties_format + ["a technical appendices"] %}
   {% endif %}

   {% if me_uncertainties_2b_dup.other in ["yes", "maybe"] %}
   {% set uncertainties_format = uncertainties_format + [me_uncertainties_2b_other] %}
   {% endif %}

The ecosystem service assessment should evaluate and document uncertainty arising in the assessment. The Contractor should clearly discuss the reliability of the methods and results in the context of their uncertainty and what it means for the decision-making that would arise from any of the results of this assessment. The preferred format to report such uncertainties are: {{ join_natural(uncertainties_format) }}.



{% elif fs_meth_scenario_35a in ["no", "dontknow"] or fs_meth_scenario_confirmation in ["yes", "dontknow"] %}
{% set uncertainties_format = [] %}

   {% if me_uncertainties_2b.unc_report in ["yes", "maybe"] %}
   {% set uncertainties_format = uncertainties_format + ["a report section or separate report on uncertainty"] %}
   {% endif %}

   {% if me_uncertainties_2b.unc_vis_sum in ["yes", "maybe"] %}
   {% set uncertainties_format = uncertainties_format + ["a visual summary"] %}
   {% endif %}

   {% if me_uncertainties_2b.unc_dm_sum in ["yes", "maybe"] %}
   {% set uncertainties_format = uncertainties_format + ["a summary for decision-making"] %}
   {% endif %}

   {% if me_uncertainties_2b.unc_par_doc in ["yes", "maybe"] %}
   {% set uncertainties_format = uncertainties_format + ["a participatory documentation"] %}
   {% endif %}

   {% if me_uncertainties_2b.unc_tech_anx in ["yes", "maybe"] %}
   {% set uncertainties_format = uncertainties_format + ["a technical appendices"] %}
   {% endif %}

   {% if me_uncertainties_2b.other in ["yes", "maybe"] %}
   {% set uncertainties_format = uncertainties_format + [me_uncertainties_2b_other] %}
   {% endif %}

The ecosystem service assessment should evaluate and document uncertainty arising in the assessment. The Contractor should clearly discuss the reliability of the methods and results in the context of their uncertainty and what it means for the decision-making that would arise from any of the results of this assessment. The preferred format to report such uncertainties are: {{ join_natural(uncertainties_format) }}.


{% endif %}

{% endif %}



{# Validation #}
{% if me_validation_3a.intern in ["yes", "maybe"] or me_validation_3a.extern in ["yes", "maybe"] or me_validation_3b in ["yes", "maybe"] %}

{% set me_subsection_counter = me_subsection_counter + 1 %}
### 2.{{me_subsection_counter}} Validation
{% endif %}

{% if me_validation_3a.intern in ["yes", "maybe"] or me_validation_3a.extern in ["yes", "maybe"] %}

{% set validation = [] %}

   {% if me_validation_3a.intern in ["yes", "maybe"] %}
   {% set validation = validation + ["internally to its organisation"] %}
   {% endif %}

   {% if me_validation_3a.extern in ["yes", "maybe"] %}
   {% set validation = validation + ["externally with the involvement of third parties such as stakeholders"] %}
   {% endif %}

{% endif %}

{% if (me_validation_3a.intern in ["yes", "maybe"] or me_validation_3a.extern in ["yes", "maybe"]) and me_validation_3b in ["no", "dontknow"]%}

The ecosystem service assessment should validate the methodology and results of the ecosystem service assessment. The validation process should involve the commissioners. It should be carried out {{ join_natural(validation) }}. The potential contractor should clearly describe the validation process that they expect to put in place during the assessment.

{% elif (me_validation_3a.intern in ["yes", "maybe"] or me_validation_3a.extern in ["yes", "maybe"]) and me_validation_3b in ["yes", "maybe"]%}
The ecosystem service assessment should validate the methodology and results of the ecosystem service assessment. The validation process should involve the commissioners. It should be carried out {{ join_natural(validation) }}. The potential contractor should clearly describe the validation process that they expect to put in place during the assessment.

The validation process of the ecosystem service assessment should also include a comparison of the results with other key published data including ***[test to be added by the Commissioner if relevant: list the key data and figures that should be compared with the assessment results]***. The potential differences should be discussed and explained.

{% elif (me_validation_3a.intern in ["no", "dontknow"] and me_validation_3a.extern in ["no", "dontknow"]) and me_validation_3b in ["yes", "maybe"]%}

The validation process of the ecosystem service assessment should also include a comparison of the results with other key published data including ***[test to be added by the Commissioner if relevant: list the key data and figures that should be compared with the assessment results]***. The potential differences should be discussed and explained.

{% elif (me_validation_3a.intern in ["no", "dontknow"] and me_validation_3a.extern in ["no", "dontknow"]) and me_validation_3b in ["no", "dontknow"] and me_validation_3b_confirmation == "no" %}

The ecosystem service assessment should include a validation process to ensure the quality of the results obained. The type of validation process (e.g., internal, external with involvment of stakeholders, comparison with key previously published data) is left to the Contractor. In their proposal, the choice of the type of valiadtion to be put in place should be described and explained.

{% endif %}



{# Stakeholder engagement #}

{% if fs_stake_involv_4b in ["yes", "maybe"] or fs_meth_stakeholder_confirmation == "no" %}
{% if (me_stakeholder_engage_4a.dev_meth in ["yes", "maybe"] or me_stakeholder_engage_4a.val_meth in ["yes", "maybe"] or me_stakeholder_engage_4a.val_res in ["yes", "maybe"] or me_stakeholder_engage_4a.data_col in ["yes", "maybe"] or me_stakeholder_engage_4a.inter_res in ["yes", "maybe"] or me_stakeholder_engage_4a.com_res in ["yes", "maybe"] or me_stakeholder_engage_4a.other in ["yes", "maybe"]) and (me_stakeholder_engage_4b.news_let in ["yes", "maybe"] or me_stakeholder_engage_4b.websites in ["yes", "maybe"] or me_stakeholder_engage_4b.webinars in ["yes", "maybe"] or me_stakeholder_engage_4b.forums in ["yes", "maybe"] or me_stakeholder_engage_4b.advisory in ["yes", "maybe"] or me_stakeholder_engage_4b.pub_cons in ["yes", "maybe"] or me_stakeholder_engage_4b.workshops in ["yes", "maybe"] or me_stakeholder_engage_4b.other in ["yes", "maybe"]) %}

{% set step_stake = [] %}

   {% if me_stakeholder_engage_4a.dev_meth  in ["yes", "maybe"] %}
   {% set step_stake = step_stake + ["development of the methodology"] %}
   {% endif %}

   {% if me_stakeholder_engage_4a.val_meth in ["yes", "maybe"] %}
   {% set step_stake = step_stake + ["validation of the methodology (e.g., metrics, indicators, data, choice of scenarios and analyses)"] %}
   {% endif %}

   {% if me_stakeholder_engage_4a.val_res in ["yes", "maybe"] %}
   {% set step_stake = step_stake + ["validation of the results"] %}
   {% endif %}

   {% if me_stakeholder_engage_4a.data_col in ["yes", "maybe"] %}
   {% set step_stake = step_stake + ["data collection"] %}
   {% endif %}

   {% if me_stakeholder_engage_4a.inter_res in ["yes", "maybe"] %}
   {% set step_stake = step_stake + ["interpretation of the results"] %}
   {% endif %}

   {% if me_stakeholder_engage_4a.com_res in ["yes", "maybe"] %}
   {% set step_stake = step_stake + ["communication and dissemination of the results"] %}
   {% endif %}

   {% if me_stakeholder_engage_4a.other in ["yes", "maybe"] %}
   {% set step_stake = step_stake + [me_stakeholder_engage_4a_other] %}
   {% endif %}



{% set meth_stake = [] %}

   {% if me_stakeholder_engage_4b.news_let  in ["yes", "maybe"] %}
   {% set meth_stake = meth_stake + ["newsletters or email updates"] %}
   {% endif %}

   {% if me_stakeholder_engage_4b.websites in ["yes", "maybe"] %}
   {% set meth_stake = meth_stake + ["a project website"] %}
   {% endif %}

   {% if me_stakeholder_engage_4b.webinars in ["yes", "maybe"] %}
   {% set meth_stake = meth_stake + ["webinars"] %}
   {% endif %}

   {% if me_stakeholder_engage_4b.forums in ["yes", "maybe"] %}
   {% set meth_stake = meth_stake + ["stakeholder events such as forums"] %}
   {% endif %}

   {% if me_stakeholder_engage_4b.advisory in ["yes", "maybe"] %}
   {% set meth_stake = meth_stake + ["advisory boards / experts groups / focus groups / steering committees"] %}
   {% endif %}

   {% if me_stakeholder_engage_4b.pub_cons in ["yes", "maybe"] %}
   {% set meth_stake = meth_stake + ["public consultations"] %}
   {% endif %}

   {% if me_stakeholder_engage_4b.workshops in ["yes", "maybe"] %}
   {% set meth_stake = meth_stake + ["workshops"] %}
   {% endif %}

   {% if me_stakeholder_engage_4b.other in ["yes", "maybe"] %}
   {% set meth_stake = meth_stake + [me_stakeholder_engage_4b_other] %}
   {% endif %}

{% set me_subsection_counter = me_subsection_counter + 1 %}
### 2.{{me_subsection_counter}} Stakeholder engagement

A clear strategy should be put in place to inform, consult and facilitate stakeholders’ participation at different stages of the assessment including {{ join_natural(step_stake) }}.

Stakeholder engagement should preferably include {{ join_natural(meth_stake) }}. ***[text to be added by the Commissioner if relevant: reason(s) for which the format(s) has(have) been chosen]***




{% elif (me_stakeholder_engage_4a.dev_meth in ["yes", "maybe"] or me_stakeholder_engage_4a.val_meth in ["yes", "maybe"] or me_stakeholder_engage_4a.val_res in ["yes", "maybe"] or me_stakeholder_engage_4a.data_col in ["yes", "maybe"] or me_stakeholder_engage_4a.inter_res in ["yes", "maybe"] or me_stakeholder_engage_4a.com_res in ["yes", "maybe"] or me_stakeholder_engage_4a.other in ["yes", "maybe"]) and (me_stakeholder_engage_4b.news_let in ["no", "dontknow"] and me_stakeholder_engage_4b.websites in ["no", "dontknow"] and me_stakeholder_engage_4b.webinars in ["no", "dontknow"] and me_stakeholder_engage_4b.forums in ["no", "dontknow"] and me_stakeholder_engage_4b.advisory in ["no", "dontknow"] and me_stakeholder_engage_4b.pub_cons in ["no", "dontknow"] and me_stakeholder_engage_4b.workshops in ["no", "dontknow"] and me_stakeholder_engage_4b.other in ["no", "dontknow"]) %}

{% set step_stake = [] %}

   {% if me_stakeholder_engage_4a.dev_meth  in ["yes", "maybe"] %}
   {% set step_stake = step_stake + ["development of the methodology"] %}
   {% endif %}

   {% if me_stakeholder_engage_4a.val_meth in ["yes", "maybe"] %}
   {% set step_stake = step_stake + ["validation of the methodology (e.g., metrics, indicators, data, choice of scenarios and analyses)"] %}
   {% endif %}

   {% if me_stakeholder_engage_4a.val_res in ["yes", "maybe"] %}
   {% set step_stake = step_stake + ["validation of the results"] %}
   {% endif %}

   {% if me_stakeholder_engage_4a.data_col in ["yes", "maybe"] %}
   {% set step_stake = step_stake + ["data collection"] %}
   {% endif %}

   {% if me_stakeholder_engage_4a.inter_res in ["yes", "maybe"] %}
   {% set step_stake = step_stake + ["interpretation of the results"] %}
   {% endif %}

   {% if me_stakeholder_engage_4a.com_res in ["yes", "maybe"] %}
   {% set step_stake = step_stake + ["communication and dissemination of the results"] %}
   {% endif %}

   {% if me_stakeholder_engage_4a.other in ["yes", "maybe"] %}
   {% set step_stake = step_stake + [me_stakeholder_engage_4a_other] %}
   {% endif %}

{% set main_section_counter = main_section_counter + 1 %}
## {{main_section_counter}} Stakeholder engagement

A clear strategy should be put in place to inform, consult and facilitate stakeholders’ participation at different stages of the assessment including {% for method in step_stake %} {% if loop.index0 > 0 %} {% if loop.last %}{{ " and " }}{% else %}{{ ", " }}{% endif %} {% endif %} {{method}} {% endfor %}.

The way(s) of including stakeholders in the above mentioned step(s) are left to the Contractor. In their proposal, the Contractor shall describe the different channels of communication they would like to use to engage with stakeholders.




{% elif (me_stakeholder_engage_4a.dev_meth in ["no", "dontknow"] or me_stakeholder_engage_4a.val_meth in ["no", "dontknow"] or me_stakeholder_engage_4a.val_res in ["no", "dontknow"] or me_stakeholder_engage_4a.data_col in ["no", "dontknow"] or me_stakeholder_engage_4a.inter_res in ["no", "dontknow"] or me_stakeholder_engage_4a.com_res in ["no", "dontknow"] or me_stakeholder_engage_4a.other in ["no", "dontknow"]) and (me_stakeholder_engage_4b.news_let in ["yes", "maybe"] or me_stakeholder_engage_4b.websites in ["yes", "maybe"] or me_stakeholder_engage_4b.webinars in ["yes", "maybe"] or me_stakeholder_engage_4b.forums in ["yes", "maybe"] or me_stakeholder_engage_4b.advisory in ["yes", "maybe"] or me_stakeholder_engage_4b.pub_cons in ["yes", "maybe"] or me_stakeholder_engage_4b.workshops in ["yes", "maybe"] or me_stakeholder_engage_4b.other in ["yes", "maybe"]) %}

{% set meth_stake = [] %}

   {% if me_stakeholder_engage_4b.news_let  in ["yes", "maybe"] %}
   {% set meth_stake = meth_stake + ["newsletters or email updates"] %}
   {% endif %}

   {% if me_stakeholder_engage_4b.websites in ["yes", "maybe"] %}
   {% set meth_stake = meth_stake + ["a project website"] %}
   {% endif %}

   {% if me_stakeholder_engage_4b.webinars in ["yes", "maybe"] %}
   {% set meth_stake = meth_stake + ["webinars"] %}
   {% endif %}

   {% if me_stakeholder_engage_4b.forums in ["yes", "maybe"] %}
   {% set meth_stake = meth_stake + ["stakeholder events such as forums"] %}
   {% endif %}

   {% if me_stakeholder_engage_4b.advisory in ["yes", "maybe"] %}
   {% set meth_stake = meth_stake + ["advisory boards / experts groups / focus groups / steering committees"] %}
   {% endif %}

   {% if me_stakeholder_engage_4b.pub_cons in ["yes", "maybe"] %}
   {% set meth_stake = meth_stake + ["public consultations"] %}
   {% endif %}

   {% if me_stakeholder_engage_4b.workshops in ["yes", "maybe"] %}
   {% set meth_stake = meth_stake + ["workshops"] %}
   {% endif %}

   {% if me_stakeholder_engage_4b.other in ["yes", "maybe"] %}
   {% set meth_stake = meth_stake + [me_stakeholder_engage_4b_other] %}
   {% endif %}

{% set main_section_counter = main_section_counter + 1 %}
## {{main_section_counter}} Stakeholder engagement

A clear strategy should be put in place to inform, consult and facilitate stakeholders’ participation at different stages of the assessment. Stakeholder engagement should preferably include {{ join_natural(meth_stake) }}. ***[text to be added by the Commissioner if relevant: reason(s) for which the format(s) has(have) been chosen]***. The choice of the step(s) at which the stakeholders should be involved in during the assessment is left to the Contractor. In their proposal, the Contractor should describe at which steps the stakeholders should be involved in and why.

{% elif (me_stakeholder_engage_4a.dev_meth in ["no", "dontknow"] or me_stakeholder_engage_4a.val_meth in ["no", "dontknow"] or me_stakeholder_engage_4a.val_res in ["no", "dontknow"] or me_stakeholder_engage_4a.data_col in ["no", "dontknow"] or me_stakeholder_engage_4a.inter_res in ["no", "dontknow"] or me_stakeholder_engage_4a.com_res in ["no", "dontknow"] or me_stakeholder_engage_4a.other in ["no", "dontknow"]) and (me_stakeholder_engage_4b.news_let in ["no", "dontknow"] or me_stakeholder_engage_4b.websites in ["no", "dontknow"] or me_stakeholder_engage_4b.webinars in ["no", "dontknow"] or me_stakeholder_engage_4b.forums in ["no", "dontknow"] or me_stakeholder_engage_4b.advisory in ["no", "dontknow"] or me_stakeholder_engage_4b.pub_cons in ["no", "dontknow"] or me_stakeholder_engage_4b.workshops in ["no", "dontknow"] or me_stakeholder_engage_4b.other in ["no", "dontknow"]) %}

A clear strategy should be put in place to inform, consult and facilitate stakeholders’ participation at different stages of the assessment. The choice of the step(s) at which the stakeholders should be involved at during the assessment, as well as the way(s) they should be engaged with is left to the Contractor. In their proposal, the Contractor shall describe at which steps the stakeholders are expectes to be involved in and why, as well as the different channels of communication they would like to use to engage with stakeholders.


{% endif %}

{% endif %}
